// .amenagements-menu-trigger {
//   border: 3px solid $msj-orange;
//   font-size: 16px;
//
//   max-width: 850px;
//   margin: auto;
//   margin-top: 30px;
//   background-color: $msj-clear-background;
//   padding: 20px 15px;
//
//   @media (min-width: $msj-small-breakpoint) {
//     padding: 20px 30px;
//     font-size: 20px;
//     line-height: 30px;
//   }
// }

.amenagement1-content,
.amenagement2-content,
.amenagement3-content,
.amenagement4-content,
.amenagement5-content,
.amenagement6-content {
  display: none;
}

#toggle-amenagement1:checked ~ .amenagement1-content { display: flex; }
#toggle-amenagement2:checked ~ .amenagement2-content { display: flex; }
#toggle-amenagement3:checked ~ .amenagement3-content { display: flex; }
#toggle-amenagement4:checked ~ .amenagement4-content { display: flex; }
#toggle-amenagement5:checked ~ .amenagement5-content { display: flex; }
#toggle-amenagement6:checked ~ .amenagement6-content { display: flex; }
