.comprendre-ma-peine-title {
  color: $msj-orange;
}

.comprendre-ma-peine-intro {
  font-size: 24px;
  line-height: 32px;
  max-width: 950px;
}

.comprendre-ma-peine-large-tiles-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: $msj-medium-breakpoint) {
    flex-direction: row;
  }
}

.comprendre-ma-peine-large-tiles-content {
  display: flex;
  padding-left: 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding-left: 30px;
  }
}

.comprendre-ma-peine-large-tiles-icon {
  height: 110px;
  padding-top: 20px;
  padding-left: 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding-left: 30px;
  }
}

.comprendre-ma-peine-large-tile {
  background-color: $msj-clear-background;

  display: flex;
  flex-direction: column;

  height: 225px;
  width: 100%;
  border: 2px solid $msj-border;
  border-radius: 10px;
  box-shadow: none;

  @media (min-width: $msj-medium-breakpoint) {
    width: 47%;
  }
}

.comprendre-ma-peine-large-tiles-text-container {
  padding-left: 10px;
}

.comprendre-ma-peine-large-tiles-title {
  font-weight: bold;
  font-size: 22px;
}

.comprendre-ma-peine-large-tiles-text {
  max-width: 320px;
  margin-top: 10px;
  font-size: 16px;
  color: $msj-grey-text;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 18px;
  }
}

.comprendre-ma-peine-small-tiles-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comprendre-ma-peine-small-tiles-content {
  height: 80px;
  display: flex;
  padding-left: 30px;
}

.comprendre-ma-peine-small-tile {
  background-color: $msj-clear-background;
  display: flex;
  align-items: flex-end;
  height: 165px;
  width: 100%;
  border: 2px solid $msj-border;
  border-radius: 10px;
  box-shadow: none;

  @media (min-width: $msj-small-breakpoint) {
    width: 47%;
  }

  @media (min-width: $msj-medium-breakpoint) {
    width: 23%;
  }
}

.comprendre-ma-peine-small-tiles-chevron {
  padding-top: 3px;
}

.comprendre-ma-peine-small-tiles-title {
  font-weight: bold;
  font-size: 22px;
  margin-left: 10px;
}
