// add custom styles here, don't change the dsfr.css file

.static-wrapper {
  background-color: $msj-background;
}

.static-footer {
  border-color: $msj-border;
}

.static-title {
  font-size: 36px;
  line-height: 50px;
  font-weight: 800;
  text-align: center;

  @media (min-width: $msj-medium-breakpoint) {
    text-align: left;
    font-size: 48px;
  }
}

.static-secondary-title {
  font-size: 28px;
  font-weight: bold;
}

.static-text {
  font-size: 18px;
}

.static-list {
  padding-left: 45px;
  font-size: 18px;
}

.static-list-item {
  margin-bottom: 20px;
  padding-left: 10px;
}

.static-home-back-office-button {
  height: 50px;
  width: 190px;
  font-size: 18px;
  font-weight: bold;
  background-color: $msj-dark-background;
  color: $msj-dark-grey-text;
  transition: .3s background-color;

  &:hover {
    background: darken($msj-dark-background, 8%);
  }
}

.static-hidden-checkbox {
  position: absolute;
  left: -100vw;
}

.static-intro {
  font-size: 22px;
  line-height: 28px;
  width: 85%;
  margin: auto;
  max-width: 950px;

  @media (min-width: $msj-medium-breakpoint) {
    font-size: 24px;
    line-height: 32px;
    width: auto;
    margin: 0;
  }
}

.static-content-container {
  max-width: 850px;
  margin: auto;
  padding-top: 50px;
}

.static-box-link {
  background: lighten($msj-blue, 20%);
  font-weight: bold;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
