// add custom styles here, don't change the dsfr.css file

.static-wrapper {
  background-color: $msj-background;
}

.static-footer {
  border-color: $msj-border;
}

.static-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 36px;
    line-height: 50px;
  }

  @media (min-width: $msj-medium-breakpoint) {
    font-size: 48px;
  }
}

.static-simple-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 50px;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 36px;
    line-height: 50px;
  }

  @media (min-width: $msj-medium-breakpoint) {
    text-align: left;
    font-size: 40px;
    margin-bottom: 60px;
  }
}

.static-title-orange { color: $msj-orange; }

.static-secondary-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.static-list {
  padding-left: 16px;

  @media (min-width: $msj-small-breakpoint) {
    padding-left: 45px;
  }
}

.static-list-item {
  margin-bottom: 20px;
  padding-left: 10px;
}

.static-list-short-item {
  margin-bottom: 8px;
  padding-left: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.static-home-back-office-button {
  height: 50px;
  width: 190px;
  font-size: 18px;
  font-weight: bold;
  background-color: $msj-dark-background;
  color: $msj-dark-grey-text;
  transition: .3s background-color;

  &:hover {
    background: darken($msj-dark-background, 8%);
  }
}

.static-hidden-checkbox {
  position: absolute;
  left: -100vw;
}

.static-intro {
  font-size: 18px;
  line-height: 28px;
  margin: auto;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 20px;
  }

  @media (min-width: $msj-medium-breakpoint) {
    margin: 0;
    width: auto;
    max-width: 750px;
    text-align: justify;
  }
}

.static-place-intro {
  font-size: 18px;
  line-height: 28px;
  margin: auto;
  margin-top: 20px;

  @media (min-width: $msj-small-breakpoint) {
    max-width: 850px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 32px;
  }

  @media (min-width: $msj-medium-breakpoint) {
    width: auto;
  }
}

.static-content-container {
  max-width: 850px;
  margin: auto;
  padding-top: 50px;

  @media (min-width: $msj-medium-breakpoint) {
    padding-top: 60px;
  }
}

.static-content {
  display: flex;
  flex-direction: column;
  background-color: $msj-clear-background;
  margin-bottom: 20px;
  padding: 20px 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding: 30px 55px;
    margin-bottom: 40px;
    text-align: justify;
  }
}

.static-box-link {
  background: lighten($msj-blue, 20%);
  font-weight: bold;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.static-dropdown-trigger {
  font-size: 16px;

  max-width: 850px;
  margin: auto;
  margin-top: 30px;
  background-color: $msj-clear-background;
  padding: 20px 15px;
  display: flex;

  @media (min-width: $msj-small-breakpoint) {
    padding: 20px 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

.static-dropdown-picto {
  &:before {
    font-size: 28px;

    @media (min-width: $msj-small-breakpoint) {
      font-size: 34px;
    }
  }
}

.static-dropdown-picto-active { display: flex; }
.static-dropdown-picto-inactive { display: none; }

.static-card {
  border: 2px solid $msj-border;
  max-width: 500px;

  padding: 20px;
  margin: auto;
  margin-bottom: 40px;

  border-radius: 10px;
}

.static-link-card {
  background-color: $msj-clear-background;
}

.static-important-card {
  padding: 20px;
  border-color: $msj-red;
  background-color: lighten($msj-red, 30%);

  @media (min-width: $msj-small-breakpoint) {
    padding: 20px 30px;
  }
}
.static-good-practice-card {
  display: flex;
  padding: 20px;
  border-color: $msj-green;
  background-color: lighten(palegreen, 15%);

  @media (min-width: $msj-small-breakpoint) {
    padding: 20px 30px;
  }
}

.static-good-practice-thumb-up {
  font-size: 50px;
  margin-right: 40px;
  margin-left: 10px;
  color: $msj-green;
  display: flex;
  align-items: center;
}

.static-link-card-intro {
  margin-bottom: 10px;
}

.static-link-good-practice-intro {
  max-width: 250px;
}

.static-link-container {
  text-align: center;
}
