// add custom styles here, don't change the dsfr.css file

.static-wrapper {
  background-color: $msj-background;
}

.static-footer {
  border-color: $msj-border;
}

.static-title {
  font-size: 48px;
  line-height: 50px;
  font-weight: 800;
}

.static-home-back-office-button {
  height: 50px;
  width: 190px;
  font-size: 18px;
  font-weight: bold;
  background-color: $msj-dark-background;
  color: $msj-dark-grey-text;
  transition: .3s background-color;

  &:hover {
    background: darken($msj-dark-background, 8%);
  }
}
