// add custom styles here, don't change the dsfr.css file

.landing-main-text {
  width: 50%;
  margin: 30px auto;
}

.landing-call-to-action {
  text-align: center;
  margin: 30px 0;
}

.centered-container {
  margin: 150px 0;
}

.how-to-wrapper {
  padding-bottom: 80px;
  background-color: #ECEEFF;
}

.how-to-container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.phone-icon {
  width: 60px;
  margin-bottom: 30px;
}

.phone-text {
  width: 80%;
  max-width: 500px;
  margin: auto;
  text-align: start;
}

.phone-precision {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
}
