.static-page-wrapper {
  width: 100%;
  max-width: 78rem;
  margin: auto;

  @media (min-width: $msj-small-breakpoint) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.static-info-page-header-wrapper {
  background-color: $msj-orange;
  color: $msj-white-text;
  height: 275px;
  display: flex;
  align-items: center;
}

.static-info-page-header {
  display: flex;
  align-items: center;
}

.static-infos-page-header-content {
  @media (min-width: $msj-small-breakpoint) {
    margin-left: 45px;
  }
}

.static-infos-page-header-icon {
  display: none;

  @media (min-width: $msj-small-breakpoint) {
    display: flex;
  }
}

.static-infos-page-header-category {
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 18px;
  }
}

.static-infos-page-header-title {
  font-size: 36px;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 48px;
  }
}

.static-infos-page-header-subtitle {
  font-size: 18px;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}

.static-infos-page-content-container {
  max-width: 950px;
  margin: auto;
  padding-top: 50px;
}

.static-infos-page-title {
  color: $msj-orange;
  font-size: 30px;
  line-height: 36px;
  padding: 0 1rem;

  @media (min-width: $msj-small-breakpoint) {
    font-size: 36px;
    line-height: 46px;
    padding: 0;
  }
}

.static-infos-page-text-header {
  background-color: $msj-light-orange-background;
  color: $msj-orange;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 25px;
}

.static-infos-page-text {
  padding: 0 25px;
  font-size: 18px;
}

.static-infos-page-text-convocation {
  font-weight: bold;
}
