.obligations-secondary-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.obligations-op1-content,
.obligations-op2-content,
.obligations-op3-content,
.obligations-op4-content,
.obligations-op5-content,
.obligations-op6-content,
.obligations-op7-content,
.obligations-op7bis-content,
.obligations-op8-content,
.obligations-op9-content,
.obligations-op10-content,
.obligations-op11-content,
.obligations-op12-content,
.obligations-op13-content,
.obligations-op14-content,
.obligations-op15-content,
.obligations-op16-content,
.obligations-op17-content,
.obligations-op18-content,
.obligations-op18bis-content,
.obligations-op19-content,
.obligations-op20-content,
.obligations-op21-content,
.obligations-op22-content,
.obligations-op23-content,
.obligations-op24-content,
.obligations-op25-content {
  display: none;
  flex-direction: column;
  background-color: $msj-clear-background;
  margin-bottom: 20px;
  padding: 20px 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding: 30px 55px;
    margin-bottom: 40px;
    text-align: justify;
  }
}

#toggle-op1:checked ~ .obligations-op1-content { display: flex; }
#toggle-op2:checked ~ .obligations-op2-content { display: flex; }
#toggle-op3:checked ~ .obligations-op3-content { display: flex; }
#toggle-op4:checked ~ .obligations-op4-content { display: flex; }
#toggle-op5:checked ~ .obligations-op5-content { display: flex; }
#toggle-op6:checked ~ .obligations-op6-content { display: flex; }
#toggle-op7:checked ~ .obligations-op7-content { display: flex; }
#toggle-op7bis:checked ~ .obligations-op7bis-content { display: flex; }
#toggle-op8:checked ~ .obligations-op8-content { display: flex; }
#toggle-op9:checked ~ .obligations-op9-content { display: flex; }
#toggle-op10:checked ~ .obligations-op10-content { display: flex; }
#toggle-op11:checked ~ .obligations-op11-content { display: flex; }
#toggle-op12:checked ~ .obligations-op12-content { display: flex; }
#toggle-op13:checked ~ .obligations-op13-content { display: flex; }
#toggle-op14:checked ~ .obligations-op14-content { display: flex; }
#toggle-op15:checked ~ .obligations-op15-content { display: flex; }
#toggle-op16:checked ~ .obligations-op16-content { display: flex; }
#toggle-op17:checked ~ .obligations-op17-content { display: flex; }
#toggle-op18:checked ~ .obligations-op18-content { display: flex; }
#toggle-op18bis:checked ~ .obligations-op18bis-content { display: flex; }
#toggle-op19:checked ~ .obligations-op19-content { display: flex; }
#toggle-op20:checked ~ .obligations-op20-content { display: flex; }
#toggle-op21:checked ~ .obligations-op21-content { display: flex; }
#toggle-op22:checked ~ .obligations-op22-content { display: flex; }
#toggle-op23:checked ~ .obligations-op23-content { display: flex; }
#toggle-op24:checked ~ .obligations-op24-content { display: flex; }
#toggle-op25:checked ~ .obligations-op25-content { display: flex; }
