.preparer-title {
  color: $msj-blue;
}

.preparer-secondary-title {
  text-align: center;
}

.preparer-head-trigger-container {
  display: flex;
  justify-content: center;
}

.preparer-head-trigger {
  background-color: $msj-clear-background;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 210px;
  border: 2px solid $msj-blue;
  border-radius: 10px;
  margin-right: 20px;
  font-weight: bold;
}

.preparer-head-text,
.preparer-place-spip,
.preparer-place-tribunal,
.preparer-absence-spip,
.preparer-absence-tribunal {
  display: none;
  flex-direction: column;
}

#toggle-head-spip:checked ~ .preparer-head-spip { display: flex; }
#toggle-head-spip:checked ~ .preparer-absence-spip{ display: flex; }
#toggle-head-spip:checked ~ .preparer-place-spip { display: flex; }
#toggle-head-tribunal:checked ~ .preparer-head-tribunal { display: flex; }
#toggle-head-tribunal:checked ~ .preparer-absence-tribunal { display: flex; }
#toggle-head-tribunal:checked ~ .preparer-place-tribunal { display: flex; }

.preparer-active {
  border: 4px solid darken($msj-blue, 10%);
}

.preparer-head-tribunal-title {
  font-size: 24px;
}

.preparer-general-content,
.preparer-absence-content,
.preparer-place-content,
.preparer-head-content {
  background-color: $msj-clear-background;
  margin-top: 20px;
  padding: 20px 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding: 30px 55px;
    margin-top: 40px;
  }
}

.static-google-map-link {
  width: 100%;
  display: flex;
  box-shadow: none;
  margin-top: 30px;
  margin-bottom: 30px;

  &::after {
   content: none !important;
 }
}

.static-google-map-link-button {
  background: lighten($msj-blue, 20%);
  margin: auto;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}
