.preparer-title {
  color: $msj-blue;
}

.preparer-place-title {
  color: $msj-blue;
  max-width: 850px;
  margin: auto;
}

.preparer-secondary-title {
  text-align: center;
}

.preparer-menu-trigger {
  border: 2px solid $msj-blue;
  font-size: 16px;

  max-width: 850px;
  margin: auto;
  margin-top: 30px;
  background-color: $msj-clear-background;
  padding: 20px 15px;

  @media (min-width: $msj-small-breakpoint) {
    padding: 20px 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

.preparer-menu-text {
  margin-left: 10px;

  @media (min-width: $msj-small-breakpoint) {
    margin-left: 30px;
  }
}

.preparer-menu-picto {
  &:before { font-size: 34px; }
}

.preparer-links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.preparer-link {
  background-color: $msj-clear-background;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 210px;
  border: 2px solid $msj-blue;
  border-radius: 10px;
  margin-right: 20px;
  font-weight: bold;
  box-shadow: none;
}

.preparer-head-tribunal-title {
  font-size: 24px;
}

.preparer-justif-content,
.preparer-no-show-content,
.preparer-place-content,
.preparer-process-content,
.preparer-lawyer-content {
  display: none;
  flex-direction: column;
  background-color: $msj-clear-background;
  margin-bottom: 20px;
  padding: 20px 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding: 30px 55px;
    margin-bottom: 40px;
    text-align: justify;
  }
}

#toggle-menu-place:checked ~ .preparer-place-content { display: flex; }
#toggle-menu-no-show:checked ~ .preparer-no-show-content { display: flex; }
#toggle-menu-justif:checked ~ .preparer-justif-content { display: flex; }
#toggle-menu-process:checked ~ .preparer-process-content { display: flex; }
#toggle-menu-lawyer:checked ~ .preparer-lawyer-content { display: flex; }

.preparer-menu-picto-active { display: flex; }
.preparer-menu-picto-inactive { display: none; }

.static-google-map-link {
  width: 100%;
  display: flex;
  box-shadow: none;
  margin-top: 30px;
  margin-bottom: 30px;

  &::after {
   content: none !important;
 }
}

.static-google-map-link-button {
  background: lighten($msj-blue, 20%);
  margin: auto;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}

.static-external-link {
  width: fit-content;
  margin-bottom: 20px;
}

.preparer-place-header {
  @media (min-width: $msj-medium-breakpoint) {
    display: flex;
    margin-bottom: 20px;
  }
}

.preparer-place-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: fit-content;

  @media (min-width: $msj-medium-breakpoint) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.preparer-place-picture-img {
  width: 100%;
  max-width: 250px;

  @media (min-width: $msj-small-breakpoint) {
    width: 250px;
  }
}
