.stage1-content,
.stage2-content,
.stage3-content,
.stage4-content,
.stage5-content {
  display: none;
  flex-direction: column;
  background-color: $msj-clear-background;
  margin-bottom: 20px;
  padding: 20px 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding: 30px 55px;
    margin-bottom: 40px;
    text-align: justify;
  }
}

#toggle-stage1:checked ~ .stage1-content { display: flex; }
#toggle-stage2:checked ~ .stage2-content { display: flex; }
#toggle-stage3:checked ~ .stage3-content { display: flex; }
#toggle-stage4:checked ~ .stage4-content { display: flex; }
#toggle-stage5:checked ~ .stage5-content { display: flex; }
