.sursis-prob1-content,
.sursis-prob2-content,
.sursis-prob3-content,
.sursis-prob4-content,
.sursis-prob5-content {
  display: none;
  flex-direction: column;
  background-color: $msj-clear-background;
  margin-bottom: 20px;
  padding: 20px 10px;

  @media (min-width: $msj-small-breakpoint) {
    padding: 30px 55px;
    margin-bottom: 40px;
    text-align: justify;
  }
}

#toggle-sursis-prob1:checked ~ .sursis-prob1-content { display: flex; }
#toggle-sursis-prob2:checked ~ .sursis-prob2-content { display: flex; }
#toggle-sursis-prob3:checked ~ .sursis-prob3-content { display: flex; }
#toggle-sursis-prob4:checked ~ .sursis-prob4-content { display: flex; }
#toggle-sursis-prob5:checked ~ .sursis-prob5-content { display: flex; }
