$msj-orange: #D6411E;
$msj-blue: #5770BB;
$msj-green: #0C866F;

$msj-small-breakpoint: 576px;
$msj-medium-breakpoint: 992px;

$msj-background: #f5f4f1;
$msj-clear-background: #FFFFFF;
$msj-dark-background: #F0F0F0;
$msj-light-orange-background: #D6411E1A;
$msj-border: #DCD9D9;

$msj-white-text: #FFFFFF;
$msj-grey-text: #808080;
$msj-dark-grey-text: #6A6A6A;

$msj-red: tomato;
