<div class="fr-container">
  <div class='centered-container'>
    <p class='landing-main-text'>Vous avez été condamné.e à une peine de prison en milieu ouvert ? Mon Suivi Justice est le service qui vise à vous aider à faire face à vos obligations et à vous réinsérer. </p>

    <div class='landing-call-to-action'>
      <%= link_to comprendre_ma_peine_path do %>
        <%= button_tag 'Comprendre ma peine', class: 'fr-btn fr-btn--lg'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="how-to-wrapper">
  <div class='how-to-container'>
    <%= image_tag "static/phone-icon.png", class: 'phone-icon' %>
    <p class='phone-text'>Mon Suivi Justice vous rappelle par SMS vos rendez-vous avec la Justice*. Ces rendez-vous avec les Conseillers pénitentiaires d’insertion et de probation et les juges d’applications des peines sont essentiels pour garantir que vous êtes sur la bonne voie. </p>
    <p class='phone-precision'>* Actuellement disponible dans le 92</p>
  </div>
</div>
