<div class='steering-container'>
  <%= render 'shared/data_card', data: @global, title: t('stats_steering_title') %>

  <% @local.each do |local| %>
    <%= render 'shared/data_card', data: local, title: local[:organization_name] %>
  <% end %>
</div>
