<div style="display: flex; flex-direction: column; align-items: center;">
  <h1>Notifications</h1>
  <% if  @user_notifications.any? %>
    <% @user_notifications.each do |notification| %>
      <%= render 'shared/notification_card', notification: notification %>
    <% end %>
  <% else %>
    <%= t('user_notifications.index.no_notification') %>
  <% end %>
</div>