<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mon Suivi Justice - demandes de dessaisissement</h1>
    <p>
        Bonjour, 
        Vous avez des demandes de dessaisissement en attente de validation.
        Vous pouvez les consulter en vous connectant à Mon Suivi Justice a l'adresse suivante : <%= link_to 'Mon Suivi Justice', organization_divestments_path %>.
        Très bonne journée, <br />
        L'équipe Mon Suivi Justice.
    </p>
  </body>
</html>