<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Bonjour,<br />
      Vous avez des demandes de dessaisissement en attente, merci de les traiter rapidement via le lien suivant : <%= link_to 'Dessaisissements à traiter', organization_divestments_url %>.<br />
      En cas de difficulté, n'hésitez pas à contacter notre équipe support.<br />
      Merci pour votre collaboration, <br />
      L'équipe Mon Suivi Justice.
    </p>
  </body>
</html>