<p class='new-appointment-form-warning'><%= t('new-appointment-warning') %></p>

<% if @convict && !@convict.phone.blank? %>
  <%= button_tag t('submit'), type: 'button', class: 'fr-btn', data: { :'micromodal-trigger' => 'appointment-send-sms-modal' } %>
<% else %>
  <%= button_tag t('submit'), type: 'button', id: 'submit-without-modal', class: 'fr-btn' %>
<% end %>
