<div class="form-input-wrapper select required appointment_agenda_id">
  <label class="select required form-label" for="appointment-form-agenda-select">
    <abbr title="required">*</abbr> <%= t('activerecord.models.agenda') %>
  </label>
  <select id="appointment-form-agenda-select" class="select required form-text-input form-select" required="required" aria-required="true" name="appointment[agenda_id]">
    <option value="" label=" "></option>
      <% if @appointment_type.with_slot_types? %>
        <option value="all"><%= t('new-appointment-all-agendas') %></option>
      <% end %>
    <% @agendas.each do |agenda| %>
      <option value=<%= agenda.id %>><%= agenda.name %></option>
    <% end %>
  </select>
</div>
