<p class='new-appointment-form-warning'><%= t('new-appointment-warning') %></p>
<%= button_tag t('submit'), type: 'button', id: 'submit-without-modal', class: 'fr-btn', "data-appointment-new-target": "submitButtonWithoutModal", "data-action": "click->appointment-new#submit" %>

