<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-4">
        <div>
          <%= render partial: 'shared/convict_search_form' %>
        </div>
      </div>
      <div class="fr-col-4">
        <% if policy(:convict).new? %>
          <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get, data: { turbo: false } %>
        <% end %>
      </div>
    </div>
    <%= render partial: "shared/convicts_list", locals: { convicts: @convicts } %>
  </div>
</div>
