<div class="users-container">
  <div class="users-header">
    <div class="users-header-title users-column-1">
      Nom
    </div>
    <div class="users-header-title users-column-2">
      Email
    </div>
    <div class="users-header-title users-column-3">
      Rôle
    </div>
  </div>

  <% @users.each do |user| %>
    <div class="users-item-container">
      <div class="user-data users-column-1">
        <%= user.first_name + ' ' + user.last_name %>
      </div>

      <div class="user-data users-column-2">
        <%= user.email %>
      </div>

      <div class="user-data users-column-3">
        <%= user.role %>
      </div>

      <div class="users-controls">
        <%= link_to t('delete'), user_path(user), data: { confirm: t('delete_confirmation') }, method: :delete %>
      </div>
    </div>
  <% end %>
</div>
