  <% if @users.length > 0 %>
  <ol>
    <% @users.each do |user| %>
      <div>
        <div class="fr-container">
          <div class="fr-grid-row">
            <div class="fr-col-12">
              <li class="fr-mb-2w"><a href="#" data-action="click->search-users-results#selectUser:prevent" data-search-users-results-id-param="<%= user.id %>" data-search-users-results-name-param="<%= user.name %>"><%= user.name %></a></li>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ol>
<% else %>
  <p class="fr-title-no fr-text--bold fr-text--sm fr-mb-1w">Aucun résultat</p>
  <p class="fr-text--xs fr-mb-1w">Votre recherche n'a retourné aucun résultat. Pour l'améliorer vous pouvez :</p>
  <ul class="fr-text--xs">
    <li class="fr-mb-1w">Vérifier l'orthographe de votre recherche</li>
    <li>Essayer avec d'autres prénoms / noms</li>
  </ul>
<% end %>
