<div class="fr-notice fr-notice--info">
    <div class="fr-container">
        <div class="fr-notice__body">
            <p class="fr-notice__title">
              Titre du bandeau, <a href='#' rel='noopener' target='_blank'>lien au fil du texte</a>
            </p>
        </div>
    </div>
</div>