<p id="<%= "#{dom_id(convict)}_self_assign_link" %>">
    <% if convict.cpip.present? %>
        <span>
            <%= convict.cpip_name %>
            <% if policy(convict).unassign? %>
            <%= link_to convict_unassign_path(convict), data: { turbo_confirm: t('basic_confirmation'), 'turbo-method': :post } do %>
                <span class="fr-icon-close-line" aria-hidden="true"></span>
            <% end %>
            <% end %>
        </span>
    <% elsif policy(convict).self_assign? %>
        <%= link_to t('self_assign_link'), convict_self_assign_path(convict), class: 'index-control', data: { 'turbo-method': :post } %>
    <% end %>
</p>