<div class="fr-alert fr-alert--<%= notification.params[:type]%>" <% if notification.unread? %>style="background-color: pink;"<% end %>>
    <h3 class="fr-alert__title">
      <%= t("user_notification.convict_invitation.#{notification.params[:status]}", first_name: notification.params[:invitation_params][:first_name].titlecase, last_name: notification.params[:invitation_params][:last_name].titlecase) %>
    </h3>
    <p>
      <%= notification.created_at.to_s(:base_date_format) %>
    </p>
</div>