<div data-controller="search-users search-users-results" data-action="search-users-results:userSelected->search-users#clearResults">
  <div class="fr-input-group">
    <label class="fr-label" for="convict_user_id"><%= t('activerecord.attributes.convict.cpip')%></label>
    <input class="fr-input" type="search" placeholder=" <%= selected_cpip_for(@convict, current_user) ? 'Changer d\'agent' : 'Suivi affecté au service' %>" name="convict[user_id]" id="convict_user_id" data-search-users-target="query" data-action="input->search-users#search">
  </div>
  <div id="search_results" data-search-users-target="results"></div>
  <p data-search-users-results-target="selectedUser">
  <% if selected_cpip_for(@convict, current_user) %>
    <strong>Agent sélectionné(e) : </strong><%= selected_cpip_for(@convict, current_user).name %>
  <% end %>
  </p>
  <input autocomplete="off" type="hidden" value="<%= selected_cpip_for(@convict, current_user)&.id %>" data-search-users-results-target="hiddenField" name="convict[user_id]">
</div>
