<div class="fr-table fr-table--bordered">
  <table>
    <caption>Résultats de la recherche</caption>
    <thead>
      <tr>
        <th scope="col">th0</th>
        <th scope="col">th1</th>
        <th scope="col">th2</th>
        <th scope="col">th3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lorem [...] elit ut.</td>
        <td>Lorem [...] elit ut.</td>
        <td>Lorem [...] elit ut.</td>
        <td>Lorem [...] elit ut.</td>
      </tr>
      <tr>
        <td>Lorem [...] elit ut.</td>
        <td>Lorem</td>
        <td>Lorem [..</td>
        <td>Lor</td>
      </tr>
      <tr>
        <td>Lorem [...] elit ut.</td>
        <td>Lorem [...] elit ut.</td>
        <td>Lorem [...]</td>
        <td>Lorem [...]</td>
      </tr>
    </tbody>
  </table>
</div>
