<div data-controller="search-convicts">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-8">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-4">
          <%= form_with url: search_convicts_path, method: :get, local: false, data: { action: "ajax:success->search-convicts#handleResults", 'search-convicts-target': "form" } do |form| %>
            <div class="fr-search-bar" id="header-search" role="search">
              <label class="fr-label" for="search_convicts">
                Recherche
              </label>
              <input class="fr-input" placeholder="Rechercher une PPSMJ" type="search" id="search_convicts" name="search_convicts" data-action="input->search-convicts#search">
              <button class="fr-btn" title="Rechercher">
                Rechercher
              </button>
            </div>
          <% end %>
        </div>
        <div class="fr-col-4">
          <% if policy(:convict).new? %>
            <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-8">
      <div id="search_results" data-search-convicts-target="results">
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
      <div class="fr-col-8">
      </div>
    </div>
  </div>
</div>
<div class="fr-col-12">
  <%#render 'home_stats', data: @stats, title: t('home.stats_title') %>
</div>
</div>
