<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Echec de synchronisation avec Brevo pour l'agent <%= @user_id %> :</p>
    <p><%= @error %></p>
  </body>
</html>