<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Rapport de migration des convicts</h1>
    <ul>
        <% if @convict_migration_success > 0 %>
          <h1><%= @convict_migration_success %> ppsmjs ont été créées :</h1>
        <% end %>
        <% if !@convict_migration_errors.nil? && @convict_migration_errors.any? %>
          <h1><%= @convict_migration_errors.length %> ppsmjs n'ont pas pu être migrés :</h1>
          <% @convict_migration_errors.each do |error| %>
              <li style="color: red"><%= error %></li>
          <% end %>
        <% end %>
    </ul>
  </body>
</html>