<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>La page que vous recherchez n'existe pas.</h1>
      <p>Vous avez peut-être fait une erreur dans l'adresse, ou la page a été deplacée</p>
    </div>
  </div>
</body>
