<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1><%= t('errors.not_found.title') %></h1>
      <p><%= t('errors.not_found.subtitle') %></p>
    </div>
  </div>
</body>
