<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>Toutes nos excuses, le site que vous consultez est en maintenance ! Nous faisons tout pour revenir au plus vite !</h1>
    </div>
  </div>
</body>
