<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1>La modification a été rejettée.</h1>
      <p>Peut-être n'aviez vous pas accès à cette action.</p>
    </div>
  </div>
</body>
