<body class="rails-default-error-page">
  <div class="dialog">
    <div>
      <h1><%= t('errors.unprocessable_entity.title') %></h1>
      <p><%= t('errors.unprocessable_entity.subtitle') %></p>
    </div>
  </div>
</body>
