<%= render 'organization_divestments', current_orga_divestments: @current_orga_divestments, past_orga_divestments: @past_orga_divestments %>
<div class="fr-my-4w">
  <%= render 'divestments', current_divestments: @current_divestments, past_divestments: @past_divestments %>
</div>