<h1><%= t('.title', name: current_organization.name) %></h1>
<iframe
  src="<%= MetabaseDashboard.new(dashboard_id: 26, service_id: current_organization.id).iframe_url %>"
  frameborder="0"
  width="100%"
  height="1800px"
  allowtransparency
></iframe>