<h1><%= waiting_line_title(current_organization) %></h1>
<div class='appointments-container'>
  <div class='index-cards-wrapper'>
    <% if  @appointments.any? %>
        <%= render 'shared/appointments_table', appointments: @appointments %>
    <% else %>
      <%= t('appointments.index.no_appointments') %>
    <% end %>
  </div>

  <%= paginate @appointments %>
</div>
