<div class="fr-alert fr-alert--success">
  <h3 class="fr-alert__title">Votre demande de désinscription a bien été prise en compte</h3>
  <p>Si c'était une erreur et que vous souhaitez toujours recevoir les SMS de convocation Mon Suivi Justice, contactez votre CPIP</p>
</div>