  <% if @cities.length > 0 %>
  <ol>
    <% @cities.each do |city| %>
      <div>
        <div class="fr-container">
          <div class="fr-grid-row">
            <div class="fr-col-12">
              <li class="fr-mb-2w"><a href="#" data-action="click->search-cities-results#selectCity:prevent	" data-search-cities-results-id-param="<%= city.id %>" data-search-cities-results-name-param="<%= city.name %>"><%= city.name %></a></li>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ol>
<% else %>
  <p class="fr-title-no fr-text--bold fr-text--sm fr-mb-1w">Aucun résultat pour «&nbsp;fsqdfds&nbsp;»</p>
  <p class="fr-text--xs fr-mb-1w">Votre recherche n'a retourné aucun résultat. Pour l'améliorer vous pouvez :</p>
  <ul class="fr-text--xs">
    <li class="fr-mb-1w">Vérifier l'orthographe de votre recherche</li>
    <li>Essayer avec d'autres mots-clés</li>
  </ul>
<% end %>
