@import 'static/dsfr';
@import 'static/variables';
@import 'fonts';

@import 'font-awesome';

@import 'static/custom';
@import 'static/home';
@import 'static/comprendre_ma_peine';
@import 'static/amenagements';
@import 'static/preparer';
@import 'static/reinsertion';
@import 'static/obligations';
@import 'static/sursis_probatoire';
@import 'static/tig';
@import 'static/suivi';
@import 'static/infos-pages';
