@import 'font-awesome';

@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'main';
@import 'static_pages';
@import 'authentication';
@import 'layout';
@import 'sidebar';

@import 'forms';
@import 'index';
@import 'show';

@import 'convicts';
@import 'users';
@import 'places';
@import 'appointments';
@import 'appointment_types';
@import 'slots';
