#submit-btn-container {
  display: none;
}

#radio-group-container {
  display: none;
}

.new-appointment-form {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.appointment-form-slots-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.new-appointment-form-no-slot {
  text-align: center;
  margin-top: 30px;
}

.new-appointment-form-no-place {
  text-align: center;
  margin-top: 30px;
}

.new-appointment-form-warning {
  text-align: center;
  margin: 20px 0;
}

.new-appointment-slots-container {
  position: relative;
  width: 100%;
  height: 250px;
  border: 2px solid var(--form-input);
  overflow-x: auto;
  overflow-y: auto;
}

.new-appointment-slots-header {
  position: sticky;
  top: 0;
  display: flex;
  text-align: center;
}

.slot-date-title {
  flex-shrink: 0;
  width: 18%;
  background-color: var(--grey);
  padding: 10px 2px;
  border-right: 1px solid var(--form-input);
  border-bottom: 1px solid var(--form-input);
}

.new-appointment-slots-title {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.new-appointment-slots-body {
  text-align: center;
  display: flex;
}

.slot-date-container {
  flex-shrink: 0;
  width: 18%;
  padding: 10px 2px 0;
  min-height: 192px;
  border-right: 1px solid var(--form-input);

  div {
    padding: 5px;
  }
}

.show-appointment-change-state-link {
  margin-left: 10px;
  color: var(--link);
}

.jap-agendas-modal-close {
  margin-right: 0;
  margin-left: auto;
}

.appointment-reschedule-form-slot-fields-container {
  width: 40%;
  margin: auto;
  max-width: 350px;
}

.index-appointments-fulfil-button {
  @mixin button var(--light-green);
  font-size: 1.1em;
  margin-left: 10px;
  padding: 0.4em 0.8em;
  width: 100%
}

.index-appointments-miss-button {
  @mixin button var(--light-red);
  font-size: 1.1em;
  margin-left: 10px;
  padding: 0.4em 0.8em;
  width: 100%
}

.index-appointments-excuse-button {
  @mixin button var(--light-grey);
  font-size: 1.1em;
  margin-left: 10px;
  padding: 0.4em 0.8em;
  width: 100%
}

.appointment-form-cpip-input-container {
  margin-bottom: 5px;
}

.appointment-form-cpip-input {
  margin-right: 5px;
}

.appointment-form-cpip-input-label {
  display: flex;
  align-items: center;
}

.missed-appointment-modal-container {
  text-align: left;
}

.appointments-link__cancel {
  color: var(--danger);
}

.sort-link-inline {
  display: inline-flex;
  align-items: center;
}