.appointment-types-header-container {
  display: flex;
  justify-content: center;
}

.appointment-types-title-container {
  margin-right: 20px;
  padding-top: 11px;
}

.appointment-types-table-container {
  width: 600px;
  margin: 30px auto 70px;
}

.appointment-types-table-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--table-border);
  padding-left: 30px;
}

.appointment-type-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.edit-appointment-type-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.edit-appointment-type-container-submit-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - var(--sidebar-width));
  background-color: white;
}

.appointment-types-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - var(--header-height));
}

.appointment-types-container {
  margin-top: 70px;
}

.appointment-types-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--table-border);
  padding-left: 30px;
  justify-content: space-between;
}

.appointment-type-tutorial-container {
  margin: 40px auto 100px;
}

.appointment-type-tutorial-title {
  font-size: 1.2em;
  text-align: center;
  margin: 30px 0;
}

.appointment-type-tutorial-secondary-title {
  font-weight: bold;
  margin: 30px 0;
}

.appointment-type-tutrial-text {
  margin-bottom: 10px;
}

.appointment-type-tutorial-key-table-line {
  display: flex;
  margin-bottom: 10px;
}

.appointment-type-tutorial-key-name {
  width: 33%;
}

.appointment-type-tutorial-key-content {
  width: 33%;
}

.appointment-type-tutorial-key-sample {
  width: 33%;
}

.appointment-type-tutorial-sample-title {
  margin-bottom: 10px;
}

.appointment-type-tutorial-sample {
  margin-bottom: 20px;
  padding-left: 40px;
}

.appointment-types-warning-container {
  text-align: center;
  margin-top: 20px;
}

.edit-appointment-type-header {
  border: 2px solid var(--table-border);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto 30px;
  white-space: nowrap;
  width: 80%;
}

.edit-appointment-type-header-type,
.edit-appointment-type-header-organization {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.notification-type-status-updated-at {
  text-align: center;
  font-size: 0.85em;
}

.notification-type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 15px;
}

.notification-type-role {
  font-size: 1.2em;
  font-weight: bold;
}

.notification-type-separator {
  width: 80%;
  margin: 20px auto 30px;
  color: var(--table-border);
}

.notification-type-status-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 22px;
}

.notification-type-reset-link {
  color: var(--link);
}
