.appointments-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.appointments-container {
  padding-top: 20px;
}

.link-to-new-appointment-form {
  text-align: right;
  margin-bottom: 20px;
}

.link-to-new-appointment-button {
  @include button($light-blue);
  margin-right: 20px;
}

.link-to-today-appointment-button {
  @include button($light-grey);
  margin-right: 20px;
}

.appointments-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.appointments-column-1 {
  width: 30%;
}

.appointments-column-2 {
  width: 30%;
}

.appointments-column-3 {
  width: 30%;
}

.new-appointment-form-place {
  text-align: center;
}

.new-appointment-form-no-slot {
  text-align: center;
  margin-top: 30px;
}

.new-appointment-slots-title {
  text-align: center;
  margin: 10px 0 30px;
  font-weight: bold;
}

.form-load-slots-button {
  @include button($light-blue);
  margin: 15px auto 20px;
}

.appointment-load-slots {
  text-align: center;
}

.new-appointment-slots-container {
  height: 250px;
  padding: 20px;
  border: 2px solid $form-input;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
}

.reload-button {
  margin-top: 30px;
}

.no-appointment-today {
  text-align: center;
}

.slot-date-container {
  display: flex;
  border: 1px solid $table-border;
  padding: 5px;
  margin: 5px;
  flex-direction: column;
  width: 35%;
}

.slot-date-title {
  margin-bottom: 2px;
}
