.appointment-types-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.appointment-type-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.edit-appointment-type-slots-container {
  width: 100%;

  @media (min-width: 1200px) {
    width: 45%;
  }
}

.edit-appointment-type-notifications-container {
  width: 100%;

  @media (min-width: 1200px) {
    width: 45%;
  }
}

.edit-appointment-type-container-submit-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - #{$sidebar-width});
  background-color: white;
}

.slot-container-line1 {
  display: flex;
  justify-content: space-between;

  .form-time-select-fields {
    select { width: 100%; }
  }
}

.slot-container-line2 {
  display: flex;
  justify-content: space-between;
}

.appointment-type-slot-form-line1 {
  width: 45%
}

.appointment-type-slot-form-line2 {
  width: 30%
}

.add-slot-button-container {
  text-align: center;
}

.add-slot-button {
  @include button($grey);
}

.remove-slot-button-container {
  display: flex;
  align-items: center;
}

.remove-slot-button {
  margin-top: 11px;
  @include button($grey);
}

.edit-appointment-type-slot-container {
  padding-bottom: 20px;
  border-bottom: 1px solid $table-border;
  margin-bottom: 20px;
}

.appointment-types-container {
  padding-top: 20px;
}

.appointment-types-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.appointment-types-column-1 {
  width: 50%;
}

.notification-type-role {
  height: 40px;
}

.appointment-type-tutorial-container {
  margin: 40px auto 100px;
}

.appointment-type-tutorial-title {
  font-size: 1.1em;
  text-align: center;
  margin: 30px 0;
}

.appointment-type-tutorial-secondary-title {
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}

.appointment-type-tutorial-key-table-line {
  display: flex;
}

.appointment-type-tutorial-key-name {
  width: 33%;
}

.appointment-type-tutorial-key-content {
  width: 33%;
}

.appointment-type-tutorial-key-sample {
  width: 33%;
}

.appointment-type-tutorial-sample-title {
  margin-bottom: 20px;
}

.appointment-type-tutorial-sample {
  margin-bottom: 20px;
}
