.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 300px;
}

.login-title {
  color: $home-title;
}

.login-sub-title {
  color: $home-sub-title;
}

.login-button-container {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.login-field-container {
  margin-top: 15px;
}

.login-field {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid $form-input;
}

.submit {
  @include button($grey);
  margin-top: 10px;
}

.authentication-link {
  color: $link;
  margin-top: 10px;
}
