.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 300px;
}

.login-logo-container {
  margin-bottom: 10px;

  img { width: 200px; }
}

.login-sub-title {
  color: $home-sub-title;
  margin-bottom: 10px;
  font-size: 20px;
}

.login-button-container {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.login-field-container {
  margin-top: 15px;
}

.login-field {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid $form-input;
}

.submit {
  @include button($light-grey);
  margin-top: 10px;
}

.authentication-link {
  color: $link;
  margin-top: 10px;
}

.login-tutorial {
  width: 300px;
  margin-top: 15px;
}

.login-tutorial-special {
  margin-top: 15px;
}

.login-password-error-explanation {
  border: 2px solid $error;
  padding: 20px;
  margin-top: 15px;
}

.login-password-error-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-password-errors-list {
  padding-left: 20px;
}
