.bex-agendas-container {
  width: 70%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;

  @media print {
    width: 100%;
  }
}

.bex-agendas-tools-container {
  text-align: right;
  margin-top: 20px;
}

.bex-print-button {
  @include button($light-grey);
}

.bex-agendas-date-container {
  height: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bex-date-title-container {
  margin-right: 20px;
}

.bex-agenda-container {
  display: flex;
  margin-bottom: 30px;
  border: 1px solid black;
}

.bex-agenda-header {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;

  @media print { background-color: initial !important; }
}

.bex-agenda-table {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.bex-agenda-table-header {
  font-weight: bold;
}

.bex-agenda-column {
  width: 20%;
  border-left: 1px solid black;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.bex-agenda-line {
  display: flex;
  min-height: 30px;
  border-bottom: 1px solid black;

  &:last-child{
    border: 0;
  }
}

.jap-date-select {
  min-width: 130px;
}

.jap-agenda-header1 { background-color: $jap-cabinet1; }
.jap-agenda-header2 { background-color: $jap-cabinet2; }
.jap-agenda-header3 { background-color: $jap-cabinet3; }
.jap-agenda-header4 { background-color: $jap-cabinet4; }
.jap-agenda-header5 { background-color: $jap-cabinet5; }
.jap-agenda-header6 { background-color: $jap-cabinet6; }
.jap-agenda-header7 { background-color: $jap-cabinet7; }


.spip-date-select {
  width: 170px;

  @media print {
    width: inherit;
  }
}

.spip-agenda-header {
  background-color: $jap-cabinet4;
  justify-content: center;
}
