.pdf-bex-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.bex-agendas-date-container {
  height: 100px;
  margin-bottom: 40px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.bex-date-title-container {
  margin-right: 20px;
}

.bex-agenda-container {
  display: -webkit-box;
  margin-bottom: 30px;
  border: 1px solid black;
  page-break-inside: avoid;
}

.bex-agenda-header {
  display: -webkit-box;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.bex-agenda-header-title {
  padding: 0 20px;
}

.bex-agenda-table {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
}

.bex-agenda-table-header {
  font-weight: bold;
}

.bex-agenda-small-column {
  width: 5%;
  border-left: 1px solid black;
  padding: 0 5px;
  display: -webkit-box;
  -webkit-box-align: center;
}

.bex-agenda-column {
  width: 11%;
  border-left: 1px solid black;
  padding: 0 5px;
  display: -webkit-box;
  -webkit-box-align: center;
  word-break: break-all;
}

.bex-agenda-line {
  display: -webkit-box;
  min-height: 30px;
  border-bottom: 1px solid black;

  &:last-child {
    border: 0;
  }
}

.jap-agenda-header1 {
  background-color: #fca1a3;
}
.jap-agenda-header2 {
  background-color: #f9b895;
}
.jap-agenda-header3 {
  background-color: #fccb90;
}
.jap-agenda-header4 {
  background-color: #fce2a6;
}
.jap-agenda-header5 {
  background-color: #c8dfb7;
}
.jap-agenda-header6 {
  background-color: #9dd8c6;
}
.jap-agenda-header7 {
  background-color: #a7baca;
}

.spip-agenda-header {
  background-color: #fce2a6;
  -webkit-box-pack: center;
}

.bex-agenda-spip-no-agenda {
  text-align: center;
}

.bex-agenda-date {
  text-align: center;
  margin-bottom: 40px;
}
