.spip-agenda-container {

}

.spip-date-select {
  width: 170px;

  @media print {
    width: inherit;
  }
}

.spip-agenda-table {
  border: 1px solid black;
}

.spip-agenda-table-header {
  font-weight: bold;
}

.spip-agenda-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;

  &:last-child{
    border: 0;
  }
}

.spip-agenda-column {
  display: flex;
  align-items: center;

  width: 15%;
  border-left: 1px solid black;
  height: 75px;
  padding-left: 10px;

  &:first-child{
    border: 0;
  }
}
