.pdf-bex-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.bex-agendas-container {
  width: 70%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

.bex-agendas-tools-container {
  text-align: right;
  margin-top: 20px;
  display: -webkit-box;
  justify-content: flex-end;
}

.bex-agendas-date-container {
  height: 100px;
  margin-bottom: 40px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.bex-date-title-container {
  margin-right: 20px;
}

.bex-agenda-container {
  display: -webkit-box;
  margin-bottom: 30px;
  page-break-inside: avoid;
}

.bex-agenda-header {
  display: -webkit-box;
  width: 15%;
  border: 1px solid black;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.bex-agenda-header-title {
  padding: 0 20px;
}

.bex-agenda-table {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 85%;
}

.bex-agenda-table-header {
  font-weight: bold;
  border-top: 1px solid black;
}

.bex-agenda-column {
  width: 18%;
  border-right: 1px solid black;
  padding: 0 5px;
  display: -webkit-box;
  -webkit-box-align: center;

  &:first-child{
    border-left: none;
  }
}

.bex-agenda-line {
  display: -webkit-box;
  min-height: 30px;
  border-bottom: 1px solid black;
}

.jap-date-select {
  min-width: 130px;
}

.jap-agenda-header1 { background-color: #FCA1A3; }
.jap-agenda-header2 { background-color: #F9B895; }
.jap-agenda-header3 { background-color: #FCCB90; }
.jap-agenda-header4 { background-color: #FCE2A6; }
.jap-agenda-header5 { background-color: #C8DFB7; }
.jap-agenda-header6 { background-color: #9DD8C6; }
.jap-agenda-header7 { background-color: #A7BACA; }

.spip-agenda-header {
  background-color: #FCE2A6;
  -webkit-box-pack: center;
}

.bex-agenda-spip-no-agenda {
  text-align: center;
}

.bex-agenda-date {
  text-align: center;
  margin-bottom: 40px;
}
