.new-convict-duplicate-warning {
  margin-top: 10px;
  border: 2px solid var(--error);
  color: var(--error);
  border-radius: 2px;
  padding: 10px;
  text-align: justify;
}

.appointment-fulfilment-container {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @mixin box;
  border-color: var(--light-red);
  border-width: 2px;
}

.appointment-fulfilment-controls-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-convict-fulfil-button {
  @mixin button var(--light-green);
}

.show-convict-miss-button {
  @mixin button var(--light-red);
  margin-left: 40px;
}

.show-convict-excuse-button {
  @mixin button var(--light-grey);
  margin-left: 40px;
}

.show-history-item-icon {
  font-size: 15px;
  color: var(--dark-grey);
}

.missed-appointment-modal-text {
  margin-bottom: 20px;
}

.missed-appointment-modal-sms-content {
  font-weight: bold;
  display: inline;
}

.show-convict-achived-container {
  background-color: var(--light-grey);
  color: var(--dark-grey);
  width: 70%;
  max-width: 650px;
  margin: auto;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-weight: bold;
}

.new-convict-duplicate-link {
  text-align: center;
  margin: 10px 0;
  a {
    color: var(--link);
  }
}

.new-convict-duplicate-header {
  margin-bottom: 15px;
}

.new-convict-duplicate-explanation {
  margin-bottom: 5px;
}
