.convicts-header {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid lightgray;
  padding-left: 30px;
}

.convicts-container {
  padding-top: 30px;
}

.convicts-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid lightgray;
  padding-left: 30px;
}

.convicts-column-1 {
  width: 30%;
}

.convicts-column-2 {
  width: 30%;
}

.convicts-column-3 {
  width: 30%;
}
