.convicts-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.link-to-new-convict-form {
  text-align: right;
  margin-bottom: 20px;
}

.link-to-new-convict-button {
  @include button($light-blue);
  margin-right: 20px;
}

.convicts-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.convicts-column-1 {
  width: 30%;
}

.convicts-column-2 {
  width: 30%;
}

.convicts-column-3 {
  width: 30%;
}

.new-convict-submits-container {
  display: flex;
  margin-top: 20px;
}

.edit-convict-submit-button {
  margin-top: 40px;
}

.show-convict-next-appointments-container {
  display: flex;
  justify-content: center;
  width: 70%;
  max-width: 650px;
  margin: auto;
  margin-top: 20px;
  @include box;
}

.show-convict-next-appointments-item {
  margin-left: 40px;
}

.show-convict-next-appointment-link {
  margin-left: 10px;
}

.show-convict-next-appointments-title {
  text-align: center;
}

.show-convict-next-appointment {
  margin-bottom: 5px;
}

.appointment-fulfilment-container {
  width: 70%;
  max-width: 650px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  @include box;
  border-color: $light-red;
  border-width: 2px;
}

.appointment-fulfilment-controls-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-convict-fulfil-button {
  @include button($light-blue)
}

.show-convict-miss-button {
  @include button($light-grey)
  margin-left: 40px;
}

.show-history-container {
  width: 70%;
  max-width: 650px;
  margin: auto;
  margin-bottom: 50px;
}

.show-history-item-container {
  margin-bottom: 30px;
}

.show-history-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.show-history-item-icon {
  margin-right: 10px;
  font-size: 10px;
  color: $dark-grey;
}

.show-history-item {
  margin-left: 20px;
  display: flex;
}

.show-history-item-title {
  width: 20%;
  flex-shrink: 0;
  font-weight: bold;
}

.show-history-item-link {
  margin-top: 10px;
  text-align: center;
}

.show-convict-history-control {
  color: $link;
}

.show-convict-new-appointment-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.icon_fulfil_appointment {
  color: $fulfiled-appointment;
}

.icon_miss_appointment {
  color: $missed-appointment;
}

.missed-appointment-modal-text {
  margin-bottom: 20px;
}

.missed-appointment-modal-sms-content {
  font-weight: bold;
  display: inline;
}
