.fr-btn--danger {
    --background-action-high-blue-france: red; /* Normal state */
    --background-action-high-blue-france-hover: darkred; /* Hover state */
    color: white; /* Change text color for better visibility */
}

.table-header__arrows--expand {
    width: 1rem; 
    height: 1rem;
}