// close icons
.fr-alert .fr-btn--close::before {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/close-line.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/close-line.svg"));
}
.fr-btn--close::before,
.fr-btn--close::after {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/close-line.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/close-line.svg"));
}

// alert icons
.fr-alert--info::before,
.fr-alert--info::after {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--info-fill.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--info-fill.svg"));
}

.fr-sidemenu__btn::before,
.fr-alert--success::after {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--success-fill.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--success-fill.svg"));
}

// target blank icons

[target="_blank"]::after {
  content: none;
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/external-link-line.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/external-link-line.svg"));
}

[target="_blank"][class^="fr-icon-"]::after,
[target="_blank"][class*=" fr-icon-"]::after,
[target="_blank"][class^="fr-fi-"]::after,
[target="_blank"][class*=" fr-fi-"]::after {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/external-link-line.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/external-link-line.svg"));
  content: none;
}

// replace transparent background
.fr-alert {
  background-color: white;
}

// Fixes for sidemenu
.fr-sidemenu__inner > .fr-sidemenu__btn::before {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/menu-2-fill.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/menu-2-fill.svg"));
}

.fr-sidemenu__btn[aria-expanded]::after {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/arrow-down-s-line.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/arrow-down-s-line.svg"));
}

// Fixes for header
.fr-header__navbar .fr-btn--menu::before, .fr-header__navbar .fr-btn--menu::after {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/menu-fill.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/menu-fill.svg"));
}

// Fixes for alerts
.fr-alert--error::before {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--error-fill.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--error-fill.svg"));
}

.fr-alert--warning::before {
  -webkit-mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--warning-fill.svg"));
  mask-image: url(asset-path("@gouvfr/dsfr/dist/icons/system/fr--warning-fill.svg"));
}