@font-face {
  font-family: Marianne;
  src:
    url(("Marianne-Regular.woff")) format("woff"),
    url(("Marianne-Regular.woff2")) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/Marianne-Bold.woff")) format("woff"),
    url(("/Marianne-Bold.woff2")) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/Marianne-ExtraBold.woff")) format("woff"),
    url(("/Marianne-ExtraBold.woff2")) format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/assets/Marianne-ExtraBold_Italic.woff")) format("woff"),
    url(("/assets/Marianne-ExtraBold_Italic.woff2")) format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/assets/Marianne-Light.woff")) format("woff"),
    url(("/assets/Marianne-Light.woff2")) format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/assets/Marianne-Regular_Italic.woff")) format("woff"),
    url(("/assets/Marianne-Regular_Italic.woff2")) format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/assets/Marianne-Bold_Italic.woff")) format("woff"),
    url(("/assets/Marianne-Bold_Italic.woff2")) format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/assets/Marianne-Bold_Italic.woff")) format("woff"),
    url(("/assets/Marianne-Bold_Italic.woff2")) format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(("/assets/Marianne-Medium.woff2")) format("woff2"),
    url(("/assets/Marianne-Medium.woff")) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Marianne;
  src:
    url(("/assets/Marianne-Medium_Italic.woff2")) format("woff2"),
    url(("/assets/Marianne-Medium_Italic.woff")) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Spectral";
  src:
    url(("/assets/Spectral-Regular.woff")) format("woff"),
    url(("/assets/Spectral-Regular.woff2")) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src:
    url(("/assets/Spectral-ExtraBold.woff")) format("woff"),
    url(("/assets/Spectral-ExtraBold.woff2")) format("woff2");
  font-weight: bold;
  font-style: normal;
}
