.form-title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-secondary-title {
  font-size: 1em;
  text-align: center;
  margin: 20px 0;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.basic-form {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-submit-button {
  @include button($grey);
  margin: 15px auto 0;
}

.error {
  color: $error;
}
