.form-secondary-title {
  font-size: 1.1em;
  text-align: center;
  margin: 20px 0;
}

.form-manual {
  max-width: 400px;
  margin: 0 auto 40px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.basic-form {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-submit-button {
  @mixin button var(--light-blue);
  margin: 15px auto 30px;
}

.form-text-input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--form-input);
  height: 45px;
}

.radio_buttons .form-text-input {
  height: 20px;
  width: 25px;
}

.form-label {
  margin-bottom: 7px;
}

.form-date-select-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  select {
    width: 30%;
  }
}

.form-time-select-fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  select {
    width: 30%;
    margin: 0 10px;
  }
}

.form-radio-label {
  margin-left: 15px;
}

.error {
  color: var(--error);
}

.field_with_errors {
  input,
  select {
    border: 2px solid var(--error);
  }
}

.form-textarea {
  height: 120px;
}

.form-checkbox {
  width: 20px;
  margin-right: 10px;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
}

.form-checkbox-wrapper {
  height: 40px;
  margin-bottom: 0;
  .mb-20 {
    margin-bottom: 20px;
  }
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--light-grey);
  transition: 0.3s background-color;
}

.checkbox-label span:after {
  content: "";
  position: absolute;
  display: none;

  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-label:hover span {
  background: darken(var(--light-grey), 8%);
}

.checkbox-label input:checked ~ span {
  background-color: var(--checked);
}

.checkbox-label input:checked ~ span:after {
  display: block;
}

.field_with_hint .hint {
  color: grey;
}
