.form-title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.form-secondary-title {
  font-size: 1.1em;
  text-align: center;
  margin: 20px 0;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.basic-form {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-submit-button {
  @include button($light-blue);
  margin: 15px auto;
}

.form-text-input {
  width: 100%;
  padding: 10px;
  border: 2px solid $form-input;
  height: 45px;
}

.form-label {
  margin-bottom: 7px;
}

.form-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background-repeat: no-repeat;
  background-position: calc(100% - 0.5rem) 50%;
  background-size: 1.5rem 1.5rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23a1a1a1' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>");;
}

.form-date-select-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  select {
    width: 30%;
  }
}

.form-time-select-fields {
  display: flex;
  flex-direction: row;
  justify-content: center;

  select {
    width: 30%;
    margin: 0 10px;
  }
}

.appointment-form-slots-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-radio-wrapper {
  margin-bottom: 10px;
}

.form-radio-input {
  width: auto;
}

.form-radio-label {
  margin-left: 15px;
}

.error {
  color: $error;
}

.field_with_errors {
  input, select {
    border: 2px solid $error;
  }
}

.form-textarea {
  height: 120px;
}

// checkbox, source: https://blog.logrocket.com/how-to-style-forms-with-css-a-beginners-guide/

.form-checkbox-field-container {
  margin-bottom: 20px;
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox-label input[type=checkbox] {
  position: absolute;
  opacity:  0;
  width: 0;
  height: 0;
}

.checkbox-label span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $grey;
  transition: .3s background-color;
}

.checkbox-label span:after {
  content: "";
  position: absolute;
  display: none;

  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-label:hover span {
  background: darken($grey, 8%);
}

.checkbox-label input:checked ~ span {
  background-color: $checked;
}

.checkbox-label input:checked ~ span:after {
  display: block;
}
