.home-wrapper {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-container {
  width: 90%;
  max-width: 700px;
}

.home-convict-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.home-search-field-container {
  width: 400px;
  margin-left: 30px;
}

.home-control {
  @include button($light-blue);
  margin-right: 20px;
}

.home-controls-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.home-agenda-link {
  @include button($light-grey);
}

.home-custom-links-container {
  display: flex;
  justify-content: space-between;
  width: fit-content;

  margin: auto;
  margin-bottom: 20px;
  @include box;

  form {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.home-custom-links {
  display: flex;
  width: 80%;
}

.home-stats-wrapper {
  @include box;
  padding: 20px;
  width: 550px;
}

.home-stats-title {
  font-size: 18px;
  line-height: 18px;
}

.home-stats-container {
  display: flex;
  justify-content: space-between;
}

.home-stats-appointment-states {
  padding-left: 20px;
}

.home-stats-orga {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.home-stats-link {
  @include badge($light-grey);
  margin-bottom: 10px;
  border: 2px solid darken($light-grey, 8%);
  background-color: $main-background;
}

.home_active_stat_link {
  background-color: $light-grey;
}

.profile-search-select2-input {
  width: 100%;
  padding: 10px;
  border: 2px solid $form-input !important;
  border-radius: 0 !important;
  height: 45px !important;
  display: flex !important;
  align-items: center !important;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select2-selection--multiple {
  padding-bottom: 10px !important;
}

.select2-search {
  width: 100%;
}
.select-organization-container {
  display: flex;
  margin-bottom: 32px;
}
.select-organization-wrapper {
  margin-bottom: 0 !important;
  margin-right: 16px;
}
.select-organization-input {
  min-width: 200px;
}
.select-organization-label {
  display: none;
}
.new-appointment-button {
  margin-right: 16px;
}
