.select-organization-container {
  display: flex;
  margin-bottom: 32px;
}
.select-organization-wrapper {
  margin-bottom: 0 !important;
  margin-right: 16px;
}
.select-organization-input {
  min-width: 200px;
}
.select-organization-label {
  display: none;
}