.home-wrapper {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 90%;
  max-width: 700px;
}

.home-convict-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.home-search-field-container {
  width: 400px;
  margin-left: 30px;
}

.home-control {
  @include button($light-blue);
  margin-right: 20px;
}

.home-controls-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.home-agenda-link {
  @include button($light-grey);
}

.home-custom-links-container {
  display: flex;
  justify-content: space-between;
  width: fit-content;

  margin: auto;
  margin-bottom: 20px;
  @include box;

  form {
    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.home-custom-links {
  display: flex;
  width: 80%;
}

.home-select2-input {
  width: 100%;
  padding: 10px;
  border: 2px solid $form-input !important;
  border-radius: 0 !important;
  height: 45px !important;
  display: flex !important;
  align-items: center !important;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select2-selection--multiple {
  padding-bottom: 10px !important;
}

.select2-search {
  width: 100%;
}

.home-stats-container {
  @include box;
  padding: 20px;
  margin-right: 40px;
}

.home-stat-container {
  display: flex;
}

.home-stats-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.home-stat-value {
  margin-left: 10px;
}
