.ie-warning-container {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ie-warning-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ie-warning-logo-container {
  margin-bottom: 25px;
}

.ie-warning-logo-container img {
  width: 250px;
}

.ie-warning-text {
  margin-bottom: 10px;
}

/* IE 6, 7, 8 */
@media \0screen, screen\9 {
  .header,
  .authentication-form-container {
    display: none;
  }

  .ie-warning-container {
    display: flex;
  }
}

/* IE9+ */
@media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
  .header,
  .authentication-form-container {
    display: none;
  }

  .ie-warning-container {
    display: flex;
  }
}
