.ie-warning-container {
  display: none;

  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ie-warning-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ie-warning-logo-container {
  margin-bottom: 25px;

  img { width: 250px; }
}

.ie-warning-text {
  margin-bottom: 10px;
}

@media \0screen\,screen\9 {
  // IE 6, 7, 8
  .agent-interface-container, .header, .authentication-form-container { display: none; }
  .ie-warning-container { display: flex; }
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  // IE9+
  .agent-interface-container, .header, .authentication-form-container { display: none; }
  .ie-warning-container { display: flex; }
}
