.index-header-container {
  width: calc(100vw - #{$sidebar-width});
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 110px;
  background-color: $main-background;
  border-bottom: 1px solid $table-border;
  padding: 0 10px;
}

.index-title-container {
  width: calc(100vw - #{$sidebar-width});
  position: fixed;
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: $main-background;
  padding: 0 10px;

  h1 {
    padding-top: 20px;
  }
}

.user-appointments-index-title-container {
  width: calc(100vw - #{$sidebar-width});
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.appointments-container {
  text-align: center;
}

.index-header-action-buttons-container {
  width: calc(100vw - #{$sidebar-width});
  display: flex;
  justify-content: right;
  padding: 5px;
}

.index-header-filters-container {
  display: flex;
  justify-content: flex-start;
}

.index-header-filters-fields-container {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index-header-slots-filters-fields-container {
  height: 110px;
  width: 425px;
  padding: 10px 0;
}

.index-header-filters-form {
  width: 100%
}

.index-header-slots-filters-form {
  display: flex;
  align-items: center;
}

.index-header-search-field {
  height: 40px;
  width: 130px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid $table-border;
  color: grey;
}

.index-header-slots-earch-field {
  height: 40px;
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid $table-border;
  color: grey;
}

.index-header-filter-field {
  width: 200px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $table-border;
  background-color: $main-background;
  color: grey;
}

.index-header-my-appointments-filter-field-container {
  width: 200px;
}

.index-header-my-appointments-filter-field {
  position: absolute;
  margin-top: 8px;
  width: 180px;
  input[type="checkbox"] {
    position: relative;
    top: 2px;
  }
}

.in-use {
  border-color: #92dff3;
  border-width: medium;
  color: black;
}

.index-header-filters-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.index-header-filters-button {
  @include button($light-grey);
  height: 40px;
}

.index-header-controls-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 0;
}

.index-header-controls-appointments-buttons-wrapper {
  display: flex;
  flex-direction: row;
  form {
    margin-left: 10px;
  }
}

.index-header-controls-filter-buttons-wrapper {
  display: flex;
  flex-direction: row;
  form {
    margin-left: 10px;
  }
}

.index-table-container {
  margin-top: 110px;
  width: calc(100vw - #{$sidebar-width});
  display: flow-root;

  @media print {
    width: 100%;
  }
}

.index-list-container {
  margin-top: 40px;
}

.index-list-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  min-height: 40px;
  width: 100%;
  margin-bottom: 5px;

  @media print {
    padding-left: 0;
    padding-right: 0;
  }
}

.index-list-small-line {
  border-bottom: 1px solid $table-border;
}

.index-table-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
  padding-right: 20px;

  position: fixed;
  width: inherit;
  background-color: $main-background;

  @media print {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.index-control {
  margin-right: 10px;
  color: $link;
}

.index-tools-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 40px;
}

.index-basic-table-container {
  margin-top: 20px;
}

.index-tools-filter-container {
  display: flex;
  height: 60px;
  min-width: 250px;
  justify-content: space-between;
  padding: 10px;
}

.index-search-form {
  display: flex;
  align-items: center;
  height: 40px;
}

.index-search-field {
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid $table-border;
}

.index-search-button {
  @include button($light-grey);
}

.index-pagination-container {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 24px;
}

.index-pagination-item {
  margin: 0 8px;

  a {
    color: $link;

    &:visited {
      color: $link;
    }
  }
}

.index-pagination-navigation {
  font-size: 1.2em;

  a {
    color: $link;

    &:visited {
      color: $link;
    }
  }
}

.sort_link {
  text-decoration: none;
  color: black;

  .fa-sort { margin-left: 5px; }
}

.index-filter-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.index-place-filter-field {
  width: 100%;
  height: 40px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid $table-border;

  background-color: $main-background;
  color: grey;
}

.index-slot-filter-field {
  width: 100%;
  max-width: 240px;
  height: 40px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid $table-border;

  background-color: $main-background;
  color: grey;
}

.index-tools-controls-container {
  display: flex;
  padding: 10px;
}

.index-list-line-container {
  border-bottom: 3px solid lighten($table-border, 5%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.index-list-controls-container {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-right: 10px;

  @media print {
    display: none;
  }
}

.print-button {
  @include button($light-grey);
}
