.appointments-container {
  text-align: center;
}

.in-use {
  border-color: #92dff3;
  border-width: medium;
  color: black;
}

.index-list-small-line {
  border-bottom: 1px solid var(--table-border);
}

.index-control {
  margin-right: 10px;
  color: var(--link);
}

.index-tools-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 40px;
}

.index-tools-filter-container {
  display: flex;
  height: 60px;
  min-width: 250px;
  justify-content: space-between;
  padding: 10px;
}

.index-pagination-container {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 24px;
}

.index-pagination-item {
  margin: 0 8px;

  a {
    color: var(--link);

    &:visited {
      color: var(--link);
    }
  }
}

.index-pagination-navigation {
  font-size: 1.2em;

  a {
    color: var(--link);

    &:visited {
      color: var(--link);
    }
  }
}

.sort_link {
  text-decoration: none;
  background-image: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 1.2em;
  margin: -1.2em;
  position: relative;
  z-index: 1;

  .fr-icon-arrow-up-s-line:before, .fr-icon-arrow-down-s-line:before {
    --icon-size: 1rem !important;
  }
}

.index-tools-controls-container {
  display: flex;
  padding: 10px;
}
