.index-control {
  margin-right: 10px;
  color: $link;
}

.index-tools-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 40px;
}

.index-table-container {
  margin-top: 20px;
}

.index-tools-filter-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
  max-width: 750px;
}

.index-search-form {
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 40px;
}

.index-search-field {
  width: 250px;
  padding: 10px;
  height: 40px;
  border: 1px solid $table-border;
}

.index-search-button {
  @include button($light-grey);
  margin-left: 20px;
}

.index-pagination-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 24px;
}

.index-pagination-item {
  margin: 0 8px;

  a {
    color: $link;

    &:visited {
      color: $link;
    }
  }
}

.index-pagination-navigation {
  font-size: 1.2em;

  a {
    color: $link;

    &:visited {
      color: $link;
    }
  }
}

.sort_link {
  text-decoration: none;
  color: black;

  .fa-sort { margin-left: 5px; }
}

.index-place-filter-form {
  width: 250px;
  margin-left: 20px;
}

.index-place-filter-field {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid $table-border;

  &:first-child {
    color: grey;
  }
}

.index-tools-controls-container {
  display: flex;
}

.print-button {
  @include button($light-grey);
  margin-right: 20px;
}
