.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.landing-title {
  color: $home-title;
  margin-bottom: 30px;
}

.landing-to-admin-button {
  @include button($light-grey);
  margin-bottom: 20px;
}
