.agent-interface-container {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
}

.header {
  height: 80px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  background-color: $header-background;
}

.main-title {
  font-size: 1.5em;
}

.content-container {
  width: 100%;
}

.logout-link {
  margin-left: auto;
  color: $main-font-color;
}
