.agent-interface-container {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
}

.header {
  height: $header-height;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-background;
}

.header-title {
  font-size: 1.4em;
}

.content-container {
  width: 100%;
}

.header-link {
  margin-left: 20px;
  color: $main-font-color;
}
