.agent-interface-container {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
}

.header {
  height: $header-height;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-background;
  position: fixed;
  width: 100%;
}

.header-title {
  font-size: 1.4em;
}

.content-container {
  width: 100%;
  padding-top: $header-height;
  padding-left: $sidebar-width;

  @media print {
    padding: 0;
  }
}

.header-link {
  margin-left: 20px;
  color: $main-font-color;
}

.support-link {
  text-decoration: none;
  padding: 5px 15px;
  color: $main-font-color;
  background-color: $salmon;
  position: fixed;
  top: 60%;
  right: 0;
  transform-origin: right bottom;
  transform: rotate(-90deg) translateX(-50%);
}
