* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Marianne', 'Arial', 'Open Sans', sans-serif;
  font-size: 0.9em;
}

.notice, .alert, .warning {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.notice {
  background-color: $notice;
}

.alert {
  background-color: $alert;
}

.warning {
  background-color: $warning;
}

.fake-link {
  cursor: pointer;
  text-decoration: underline;
  color: $link;
}
