* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Marianne", "Arial", "Open Sans", sans-serif;
  font-size: 0.9em;
}

.notice,
.alert,
.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}
.alert-link {
  color: #c9191e;
  text-decoration: underline;
}

.notice {
  background-color: var(--notice);
}

.alert {
  background-color: var(--alert);
}

.warning {
  background-color: var(--warning);
}

.fake-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--link);
}

.fake-link:hover {
  background-color: var(--link-hover) !important;
  text-decoration-thickness: 0.1rem;
}
