@define-mixin button $color {
  background-color: $color;
  color: var(--main-font-color);
  padding: .5em 1em;
  border-radius: 2px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: .3s background-color;

  &:hover {
    filter: brightness(1.1);
    background-color: $color !important;
  }

  &:disabled, &[disabled] {
    background-color: var(--grey);
    cursor: not-allowed;
  }
}

@define-mixin box {
  border: 1px solid var(--table-border);
  padding: 20px;
  border-radius: 2px;
}
