@mixin button($color) {
  background-color: $color;
  color: $main-font-color;
  padding: .5em 1em;
  border-radius: 2px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: .3s background-color;

  &:hover {
    background: darken($color, 8%);
  }

  &:disabled, &[disabled]{
    background-color: $grey;
    cursor: not-allowed;
  }
}

@mixin box {
  border: 1px solid $table-border;
  padding: 20px;
  border-radius: 2px;
}
