.link-to-new-organization-form {
  text-align: right;
  margin-bottom: 20px;
}

.organization-subtitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.extra-fields-title {
  margin-top: 32px;
}

.extra-fields-apt-type-container {
  display: flex;
  align-items: center;
}

.extra-fields-scope-container {
  display: flex;
  align-items: center;
}

.extra-fields-apt-type-input {
  margin-right: 10px;
  width: 1.5em;
  box-shadow: none;
}

.extra-fields-scope-input {
  margin-right: 10px;
  box-shadow: none;
  display: inline;
  width: auto;
}
