.places-container {
  padding-top: 20px;
}

.link-to-new-place-form {
  text-align: right;
  margin-bottom: 20px;
}

.places-item-container {
  display: flex;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid var(--table-border);
  padding-left: 30px;
}

.edit-place-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.edit-place-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 1200px) {
    width: 45%;
    margin-bottom: 80px;
  }
}

.edit-place-form {
  display: flex;
  flex-direction: column;
}

.edit-place-new-agenda-container {
  margin-top: 40px;
}

.edit-place-data-container {
  display: flex;
  flex-direction: column;
}

.edit-place-agenda-form-container {
  display: flex;
}

.edit-place-agenda-name {
  width: 60%;
  margin-right: 20px;
}

.edit-place-cta-container {
  text-align: center;
  margin: 0 auto 20px;

  a {
    color: var(--link);
  }
}

.edit-place-agendas-container {
  width: 100%;
  margin-bottom: 100px;

  @media (min-width: 1200px) {
    width: 45%;
  }
}

.edit-place-agenda-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save-agenda-button {
  height: 40px;
  margin-top: 30px;
  margin-left: 20px;
  @mixin button var(--light-blue);
}

.agenda-name-field {
  width: 60%;
}

.edit-place-appointment-types-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  margin-bottom: 20px;
  min-width: 320px;
}

.new-place-appointment-types-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  margin-bottom: 30px;
  min-width: 320px;
}

.edit-place-appointment-types-container {
  @mixin box;
  padding-left: 50px;
  border-width: 2px;
}