.places-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.places-container {
  padding-top: 20px;
}

.link-to-new-place-form {
  text-align: right;
  margin-bottom: 20px;
}

.places-item-container {
  display: flex;
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.places-column-1 {
  width: 20%;
}

.places-column-2 {
  width: 30%;
}

.places-column-3 {
  width: 15%;
}

.places-column-4 {
  width: 20%;
}

.edit-place-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.edit-place-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 1200px) {
    width: 45%;
    margin-bottom: 80px;
  }
}

.edit-place-form {
  display: flex;
  flex-direction: column;
}

.edit-place-new-agenda-container {
  margin-top: 40px;
}

.edit-place-data-container {
  display: flex;
  flex-direction: column;
}

.edit-place-agenda-form-container {
  display: flex;
}

.edit-place-agenda-name {
  width: 60%;
  margin-right: 20px;
}

.edit-place-cta-container {
  text-align: center;
  margin: 0 auto 20px;

  a { color: $link; }
}

.edit-place-agendas-container {
  width: 100%;
  margin-bottom: 100px;

  @media (min-width: 1200px) {
    width: 45%;
  }
}

.edit-place-agenda-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save-agenda-button {
  height: 40px;
  margin-top: 30px;
  margin-left: 20px;
  @include button($light-blue);
}

.add-agenda-button-container {
  text-align: center;
  margin-top: 20px;
}

.agenda-name-field {
  width: 60%;
}

.edit-place-submit-button-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - #{$sidebar-width});
  background-color: white;
}

.edit-place-appointment-types-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: flex-end;
  margin-bottom: 20px;
  min-width: 320px;
}

.new-place-appointment-types-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  margin-bottom: 30px;
  min-width: 320px;
}

.edit-place-appointment-types-container {
  @include box;
  padding-left: 50px;
  border-width: 2px;
}

.edit-place-appointment-type-wrapper {
  display: inline-block;
  margin-bottom: 10px;

  &:last-child{
    margin-bottom: 0;
  }
}

.edit-place-apt-type-checkbox {
  margin-right: 10px;
}
