@page {
  size: 210mm 297mm;
  margin: 1cm;
}

@page :footer {color: #fff }
@page :header {color: #fff}

@media print {
  section.sidebar, header.header, div.index-tools-container, div.support-link, div.index-header-container {
    display: none;
  }

  div.jap-agendas-tools-container {
    display: none;
  }
}
