.show-title {
  font-size: 24px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.show-secondary-title {
  font-size: 18px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.show-profile-container {
  width: 70%;
  max-width: 650px;
  margin: auto;
  display: flex;
  @include box;
}

.show-data-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.show-data-item-container{
  display: flex;
  margin-bottom: 10px;

  &:last-child{
    margin-bottom: 0;
  }
}

.show-data-label {
  width: 35%;
  font-weight: bold;
}

.show-button-to-edit-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.show-button-to-edit {
  @include button($light-blue);
  padding: .4em 1em;
  width: 120px;
  margin-bottom: 10px;
}

.show-button-to-delete {
  @include button($light-blue);
  padding: .4em 1em;
  width: 120px;
  margin-bottom: 10px;
}

.show-button-to-reschedule {
  @include button($light-blue);
  width: 120px;
  margin-bottom: 20px;
}

.show-button-archive {
  @include button($light-grey);
  padding: .4em 1em;
  width: 120px;
}
