.show-title {
  font-size: 24px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.show-secondary-title {
  font-size: 18px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.show-profile-container {
  width: 60%;
  max-width: 700px;
  margin: auto;
  display: flex;
  padding: 20px;
  border: 1px solid $table-border;
}

.show-data-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.show-data-item-container{
  display: flex;
  margin-bottom: 10px;
}

.show-data-label {
  width: 30%;
  font-weight: bold;
}

.show-button-to-edit-container {
  display: flex;
  align-items: center;
}

.show-button-to-edit {
  @include button($light-blue);
}

.show-history-container {
  width: 70%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
}

.show-history-item-container {
  margin-bottom: 20px;
}

.show-history-item-header {
  display: flex;
  align-items: center;
}

.show-history-item-icon {
  margin-right: 10px;
  font-size: 12px;
  color: $dark-grey;
}

.show-history-item {
  margin-left: 20px;
}

.show-convict-new-appointment-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
