.show-title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.show-container {
  width: 60%;
  max-width: 700px;
  margin: auto;
  display: flex;
  padding: 20px;
  border: 1px solid $table-border;
}

.show-data-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.show-data-item-container{
  display: flex;
  margin-bottom: 10px;
}

.show-data-label {
  width: 30%;
  font-weight: bold;
}

.show-button-to-edit-container {
  display: flex;
  align-items: center;
}

.show-button-to-edit {
  @include button($light-blue);
}
