.show-title {
  font-size: 24px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.show-secondary-title {
  font-size: 18px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.show-data-label {
  width: 35%;
  font-weight: bold;
}
