.sidebar {
  width: $sidebar-width;
  background-color: $sidebar-background;
  position: fixed;
  margin-top: $header-height;
  height: calc(100vh - #{$header-height});
  z-index: 1;
}

.sidebar-item {
  padding: 20px;
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar-item-link {
  color: $main-font-color;
  text-decoration: none;
}

.sidebar-active-item {
  background-color: darken($sidebar-background, 10%);
}

.sidebar-inactive-item {
  &:hover {
    background-color: darken($sidebar-background, 4%);
  }
}
