.slots-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.link-to-new-slot-form {
  text-align: right;
  margin-bottom: 20px;
}

.link-to-new-slot-button {
  @include button($light-blue);
  margin-right: 20px;
}

.slots-index-tools-container {
  width: calc(100vw - #{$sidebar-width});
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 40px;
  background-color: $main-background;
  border-bottom: 1px solid $table-border;
}

.slots-index-table-container {
  margin-top: 80px;
}

.slots-item-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
  min-height: 40px;
}

.slots-batch-close-button {
  @include button($light-grey);
  margin-right: 20px;
  min-height: 40px;
}

.slots-column {
  width: 20%;
}

.slots-column-1 {
  width: 20%;
}

.slots-column-2 {
  width: 15%;
}

.slots-column-3 {
  width: 15%;
}

.slots-column-4 {
  width: 15%;
}

.slots-column-5 {
  width: 10%;
}

.slots-column-6 {
  width: 10%;
  text-align: center;
}
