.index-slot-types-back-button {
  @include button($light-grey)
  display: flex;
  width: max-content;
  margin: 20px;
}

.index-slot-types-title {
  font-size: 24px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-slot-types-warning {
  text-align: center;
}

.index-slot-types-title-place {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.slot-type-apt-type-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 40px 0;
}

.slot-type-apt-type-link-true {
  color: $link;
  padding: 0 10px;
  font-weight: bold;
}

.slot-type-apt-type-link-false {
  color: $link;
  padding: 0 10px;
}

.slot-type-appointment-type-container {
  width: max-content;
  margin: auto;
  margin-bottom: 50px;
}

.slot-type-weekday {
  margin: 20px 0;
}

.slot-type-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  align-items: center;
}

.new-slot-type-form {
  border-top: 1px solid $table-border;

  &:first-child { border: none; }
}

.slot-type-time-input {
  margin-right: 20px;
  select { width: 70px }
}

.slot-type-time-input-label {
  margin-left: 10px;
}

.slot-type-duration-input {
  width: 100px;
  margin-right: 20px;
}

.slot-type-capacity-input {
  width: 100px;
  margin-right: 20px;
}

.slot-type-input-last {
  margin-top: 10px;

  a {
    color: $link;
    padding-left: 10px;
  }
}

.slot-type-submit-button {
  @include button($light-grey)
}

.slot-type-add-button {
  @include button($light-blue)
}

.index-slot-types-weekday-container {
  width: max-content;
  min-width: 715px;
  padding-top: 10px;
  border: 2px solid $table-border;
}
