.slots-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.slots-container {
  padding-top: 20px;
}

.link-to-new-slot-form {
  text-align: right;
  margin-bottom: 20px;
}

.link-to-new-slot-button {
  @include button($grey);
  margin-right: 20px;
}

.slots-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.slots-column-1 {
  width: 20%;
}

.slots-column-2 {
  width: 20%;
}

.slots-column-3 {
  width: 20%;
}

.slots-column-4 {
  width: 20%;
}
