.slots-index-control {
  color: var(--link);
  margin-right: 10px;
}

.new-slots-time-fields-container {
  .form-time-select-fields {
    justify-content: flex-start;
    padding-left: 110px;
  }
}

.new-slot-time-fields-box {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}