.index-slot-types-back-button {
  @mixin button var(--light-grey);
  display: flex;
  width: max-content;
  margin: 20px;
}

.index-slot-types-title {
  font-size: 24px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-slot-types-warning {
  text-align: center;
  color: var(--important);
}

.index-slot-types-title-place {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.slot-type-apt-type-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 40px 0;
}

.slot-type-appointment-type-container {
  width: max-content;
  margin: auto;
  margin-bottom: 50px;
}

.slot-type-weekday-header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.slot-type-batch-delete-weekday-link {
  color: var(--link);
  margin-right: 30px;
}

.slot-type-form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  align-items: center;
}

.new-slot-type-form {
  border-top: 1px solid var(--table-border);

  &:first-child {
    border: none;
  }
}

.slot-type-time-input {
  margin-right: 20px;
  select {
    width: 70px;
  }
}

.slot-type-time-input-label {
  margin-left: 10px;
}

.slot-type-duration-input {
  width: 100px;
  margin-right: 20px;
}

.slot-type-capacity-input {
  width: 100px;
  margin-right: 20px;
}

.slot-type-input-last {
  margin-top: 10px;

  a {
    color: var(--link);
    padding-left: 10px;
  }
}

.slot-type-submit-button {
  @mixin button var(--light-grey);
}

.slot-type-add-button {
  @mixin button var(--light-blue);
}

.index-slot-types-weekday-container {
  width: max-content;
  min-width: 715px;
  padding-top: 10px;
  border: 2px solid var(--table-border);
}

.slot-type-batch-creator-container {
  border: 2px solid var(--table-border);
  max-width: 715px;
  margin: auto;
  display: flex;
}

.slot-types-batch-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  width: 480px;
}

.slot-types-batch-weekday-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slot-type-batch-checkbox-wrapper {
  margin-right: 10px;
  margin-bottom: 10px;
}

.slot-types-batch-field-wrapper {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.slot-types-batch-field {
  width: 120px;
}

.slot-type-batch-time-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slot-type-batch-data-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slot-type-batch-time-input {
  margin-right: 20px;
  select {
    width: 70px;
  }
  width: 40%;

  &:last-child {
    margin-right: 0;
  }
}

.slot-type-batch-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid var(--table-border);
  flex-grow: 1;
  padding: 20px;
}

.slot-type-batch-submit-button {
  @mixin button var(--light-blue);
  height: 40px;
  margin-bottom: 20px;
}

.slot-type-batch-delete-all-button {
  @mixin button var(--light-grey);
  height: 40px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
