.slot-type-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.slot-type {
  padding-top: 20px;
}

.link-to-new-slot-type-form {
  text-align: right;
  margin-bottom: 20px;
}

.link-to-new-slot-type-button {
  @include button($light-blue);
  margin-right: 20px;
}

.slot-type-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $table-border;
  padding-left: 30px;
}

.slot-type-column-1 {
  width: 20%;
}

.slot-type-column-2 {
  width: 20%;
}

.slot-type-column-3 {
  width: 10%;
}
.slot-type-column-4 {
  width: 10%;
}
.slot-type-column-5 {
  width: 5%;
}
.slot-type-column-6 {
  width: 5%;
}

.edit-slot-type-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.edit-slot-type-data-container {
  width: 100%;

  @media (min-width: 1200px) {
    width: 45%;
  }
}

.edit-slot-type-agendas-container {
  width: 100%;
  margin-bottom: 100px;

  @media (min-width: 1200px) {
    width: 45%;
  }
}

.edit-slot-type-agenda-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-agenda-button {
  margin-top: 10px;
  @include button($light-grey);
}

.add-agenda-button-container {
  text-align: center;
  margin-top: 20px;
}

.agenda-name-field {
  width: 60%;
}

.edit-slot-type-submit-button-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - #{$sidebar-width});
  background-color: white;
}
