.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.home-title {
  color: $home-title;
  margin-bottom: 30px;
}

.home-to-admin-button {
  @include button($grey);
}
