.static-page-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    width: 80%;
    max-width: 900px;
    margin: auto;
  }
}

.static-title {
  font-size: 24px;
  margin: 20px auto 30px;

  @media (min-width: $tablet-breakpoint) {
    text-align: center;
  }
}

.static-text-container {
  margin-bottom: 20px;
}

.static-text-header {
  font-style: italic;
  margin-bottom: 10px;

  @media (min-width: $tablet-breakpoint) {
    margin-left: 20px;
  }
}

.static-link-container {
  margin-bottom: 20px;
}

.static-text-question {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

.static-text-bloc {
  margin-bottom: 10px;
  line-height: 2;

  @media (min-width: $tablet-breakpoint) {
    width: 90%;
  }
}

.static-explanation-bloc {
  @media (min-width: $tablet-breakpoint) {
    width: 80%;
    align-self: center;
  }
}

.static-secondary-title {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.static-list {
  @media (min-width: $tablet-breakpoint) {
    padding-left: 20px;
  }
}

.static-list-item {
  margin-left: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  line-height: 2;
}

.static-separator {
  width: 50%;
  margin: 20px auto;
  color: $light-grey;
}

.static-example {
  font-style: italic;
}
