.static-page-container {
  width: 100%;
  padding: 20px;
}

.static-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.static-text-header {
  font-style: italic;
  margin-bottom: 10px;
}

.static-text-bloc {
  margin-bottom: 10px;
}

.static-secondary-title {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.static-separator {
  width: 50%;
  margin: 20px auto;
  color: $light-grey;
}
