.users-header {
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid lightgray;
  padding-left: 30px;
}

.users-container {
  padding-top: 20px;
}

.link-to-new-user-form {
  text-align: right;
  margin-bottom: 20px;
}

.link-to-new-user-button {
  @include button($light-blue);
  margin-right: 20px;
}

.users-item-container {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid lightgray;
  padding-left: 30px;
}

.users-column-1 {
  width: 25%;
}

.users-column-2 {
  width: 25%;
}

.users-column-3 {
  width: 15%;
}

.users-column-4 {
  width: 20%;
}
