.mr-20px {
  margin-right: 20px;
}

.mb-20px {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.circle-icon {
  display: inline-block;
  width: 1em; 
  height: 1em;
  border-radius: 50%;
  background-color: currentColor;
}

.circle-icon.icon_fulfil_appointment,
.icon_fulfiled {
  color: var(--fulfiled-appointment);
}

.circle-icon.icon_miss_appointment,
.icon_no_show {
  color: var(--missed-appointment);
}

.bold {
  font-weight: bold;
}

.hyphens-auto {
  hyphens: auto;
}

