.text-center {
  text-align: center;
}

.circle-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.circle-icon.icon_fulfil_appointment,
.icon_fulfiled {
  background-color: var(--fulfiled-appointment);
}

.circle-icon.icon_miss_appointment,
.icon_no_show {
  background-color: var(--missed-appointment);
}

.circle-icon.icon_excuse_appointment,
.icon_excused {
  background-color: var(--excused-appointment);
}

.bold {
  font-weight: bold;
}

.hyphens-auto {
  hyphens: auto;
}

