$header-height: 80px;

$header-background: lavender;
$sidebar-background: lemonchiffon;
$home-title: CornflowerBlue;
$table-border: lightgray;

$notice: palegreen;
$alert: tomato;
$checked: #2eaadc;
$error: tomato;
$grey: #DCDCDC;
