:root {
  --tablet-breakpoint: 600px;
  --desktop-breakpoint: 900px;

  --header-height: 60px;
  --sidebar-width: 200px;

  --main-font-color: black;
  --main-background: white;
  --header-background: white;
  --header-staging-background: #dcb233;
  --sidebar-background: white;

  --home-title: CornflowerBlue;
  --home-sub-title: #a1a1a1;
  --table-border: lightgray;
  --form-input: #a1a1a1;
  --link: #00147e;
  --support-link: #ff8d7e;

  --notice: palegreen;
  --alert: tomato;
  --warning: #ff9248;
  --checked: #2eaadc;
  --error: tomato;
  --important: red;

  --grey: #dcdcdc;
  --light-blue: #92dff3;
  --light-grey: lightgray;
  --dark-grey: #656565;
  --light-red: #ff8d7e;
  --light-green: #90ee90;

  --fulfiled-appointment: #50c878;
  --missed-appointment: #ee4b2b;
  --excused-appointment: lightgray;

  --jap-cabinet1: #fca1a3;
  --jap-cabinet2: #f9b895;
  --jap-cabinet3: #fccb90;
  --jap-cabinet4: #fce2a6;
  --jap-cabinet5: #c8dfb7;
  --jap-cabinet6: #9dd8c6;
  --jap-cabinet7: #a7baca;

  --danger: #f44336;
}
