$header-height: 60px;
$sidebar-width: 200px;

$main-font-color: black;
$header-background: #a1a4af;
$sidebar-background: lavender;
$home-title: CornflowerBlue;
$table-border: lightgray;
$form-input: #a1a1a1;
$link: #00147E;

$notice: palegreen;
$alert: tomato;
$checked: #2eaadc;
$error: tomato;

$grey: #DCDCDC;
$light-blue: #92dff3;
$light-grey: lightgray;
