<% if convict&.refused_phone? %>
  <div class="fr-alert fr-alert--warning fr-my-2w">
    <p class="fr-alert__title">Ce probationnaire refuse de recevoir des sms</p>
    <p>Il ne recevra aucun sms de notre part</p>
  </div>
<% end %>