<h2>Charte de sécurité</h2>
<h3>Système d’information « Mon Suivi Justice »</h3>

<p>
  Cette charte a pour objet de rappeler les conditions d’accès et d’utilisation du système d’information « Mon Suivi Justice », sans pouvoir déroger ou se substituer aux dispositions législatives et règlementaires applicables ainsi qu’aux politiques ministérielles et directionnelles arrêtées en matière de défense et de sécurité.
</p>

<p>
  Ce texte complète les chartes informatiques nationales ou locales déjà portées à la connaissance des utilisateurs.
</p>

<h3>Préambule</h3>

<p>
  Par « système d’information Mon Suivi Justice » s’entend l’ensemble des moyens matériels, logiciels, applications, bases de données et réseaux de télécommunications (notamment le RPVJ, réseau privé virtuel Justice et le réseau interministériel de l’État), mis à disposition de l'utilisateur afin d’accéder aux différents outils développés par la start-up d’État « Mon Suivi Justice », ainsi que les outils eux-mêmes, dans l’ensemble de ses composantes.
</p>

<p>
  L’informatique nomade (notamment les ordinateurs portables mis à disposition par l’administration) est également un des éléments constitutifs de ce système d'information.
</p>

<p>
  Par « utilisateur », s'entend toute personne bénéficiant d’une habilitation d’accès au « système d’information Mon Suivi Justice ».
</p>

<h3>ARTICLE 1 : CHAMP D'APPLICATION</h3>

<p>
  Les règles d'usage et de sécurité figurant dans la présente charte s'appliquent à l’ensemble des utilisateurs habilités accédant au système d’information « Mon Suivi Justice ».
</p>

<p>
  Le bon fonctionnement du système d’information « Mon Suivi Justice » suppose le respect des dispositions législatives et réglementaires qui s’imposent afin de garantir la sécurité, l’intégrité, la conservation des données de l’application ainsi que la disponibilité du système et la performance des traitements.
</p>

<p>
  La présente charte rappelle les règles d'usages et de sécurité que la Direction de l’Administration Pénitentiaire (DAP), responsable du traitement « Mon Suivi Justice » au sens de la loi « Informatique et Libertés », demande aux utilisateurs de respecter : l'utilisateur, averti de l’usage autorisé, est responsable, en tout lieu, de l'usage qu’il fait du système d'information « Mon Suivi Justice ».
</p>

<p>
  Il a une obligation absolue de réserve et de confidentialité à l’égard des informations et documents auxquels il accède, en sus des dispositions applicables au titre de l’article 11 du code de procédure pénale.
</p>

<p>
  Les utilisateurs affectés aux fonctions d’administrateur local du système d'information au sein des juridictions et des services pénitentiaires d’insertion et de probation (SPIP) exercent leurs attributions sous la responsabilité de leurs chefs de juridiction ou du directeur fonctionnel du SPIP dont ils dépendent. Les droits d’accès aux services doivent faire l’objet d’une attribution expresse de l’autorité hiérarchique directe ou déléguée.
</p>

<h3>ARTICLE 2 : CONDITIONS D'UTILISATION DU SYSTEME D'INFORMATION « MON SUIVI JUSTICE »</h3>

<h4>Section 2.1 - Utilisation du système d’information</h4>

<p>
  Les modalités d’utilisation des ordinateurs mis à la disposition de l'utilisateur par l’administration afin d’accéder à « Mon Suivi Justice » ne doivent pas compromettre la sécurité, l’intégrité, la conservation des données de l’application ainsi que la disponibilité du système et la performance des traitements.
</p>

<p>
  L’attention de l’utilisateur doit être attirée sur le fait qu’accéder aux données nominatives d’une personne répertoriées dans « Mon Suivi Justice » suppose une réelle nécessité de service. La consultation de la base de données nominatives, par la fonction recherche, non justifiée par un besoin professionnel de l’utilisateur peut être constitutive d’un manquement de celui-ci à ses obligations déontologiques.
</p>

<h4>Section 2.2 - Continuité de service : gestion des mouvements des agents</h4>

<p>
  Au départ de l’utilisateur d’un service accédant au système d’information « Mon Suivi Justice », il appartient à l’administrateur local du système d'information « Mon Suivi Justice » de procéder sans délai à la modification ou à la suppression des comptes de l’utilisateur. Il est rappelé que tous les comptes utilisateurs ouverts sur « Mon Suivi Justice » doivent être nominatifs, ce qui proscrit toute utilisation de comptes « génériques », y compris pour les fonctions où les mouvements sont importants (vacataires, permanences …).
</p>

<h3>ARTICLE 3 : PRINCIPES DE SECURITE</h3>

<h4>Section 3.1 - Règles de sécurité applicables</h4>

<p>
  Le ministère de la Justice met en œuvre des mécanismes de protection appropriés sur les systèmes d'information mis à la disposition des utilisateurs (mot de passe, antivirus, restrictions d’installation).
</p>

<p>
  L'utilisateur est informé que les mots de passe (ou tout autre système d’authentification) permettant l’accès à son ordinateur et à l’application « Mon Suivi Justice » constituent une mesure de sécurité destinée à éviter toute utilisation malveillante ou abusive.
</p>

<p>
  Les niveaux d'accès ouverts à l'utilisateur sur « Mon Suivi Justice » sont définis selon la nature de ses fonctions.
</p>

<p>
  La sécurité du système d'information « Mon Suivi Justice » lui impose de respecter les consignes de sécurité, les règles relatives à la gestion des mots de passe, notamment :
</p>

<ul>
  <li>de choisir des mots de passe sûrs, si possible longs (8 caractères minimum, 15 caractères maximum) et complexes (contenant au moins une lettre et un chiffre, des minuscules et des majuscules, ainsi qu’un symbole non alphanumérique, tel que la ponctuation ou des symboles #, @, &, …) ; </li>
  <li> de changer régulièrement le mot de passe, a minima à la demande de l’application ;</li>
  <li>de ne pas écrire et/ou conserver ses mots de passe sur un support facilement accessible ;</li>
  <li>de garder strictement confidentiel ses identifiants (noms et mots de passe personnels) et de ne pas les dévoiler à un tiers ; en cas de doute sur cette confidentialité, il incombe à l’utilisateur de changer immédiatement ses mots de passe ;</li>
  <li>de respecter la gestion des accès, en particulier ne pas utiliser les noms et mots de passe d’un autre utilisateur, ni chercher à les connaître.</li>
</ul>

<p>
  Par ailleurs, la sécurité des ressources mises à la disposition de l'utilisateur nécessite :
</p>

<ul>
  <li>de la part des chefs de juridiction, du directeur de greffe et des directeurs pénitentiaires d’insertion et de probation :</li>
  <ul>
    <li>De veiller à la particulière sécurité physique des locaux dans lesquels sont situés des postes informatiques accédant au RPVJ, et donc à l’application « Mon Suivi Justice » ;</li>
    <li>De veiller à ne faire attribuer des accès spécifiques à l’application « Mon Suivi Justice » qu’aux seuls magistrats, directeurs pénitentiaires d’insertion et de probation, fonctionnaires et contractuels pour lesquels ces accès se justifient, du fait de leurs fonctions ; d’informer sans délai l’administrateur des changements de situation de ces personnes.</li>
  </ul>
  <li>de la part de l'utilisateur :</li>
  <ul>
    <li>De ne pas connecter directement aux réseaux des matériels non confiés ou non autorisés par l’administration ;</li>
    <li>De ne pas installer, télécharger ou utiliser sur le matériel de l’administration, de logiciels ou de périphériques sans autorisation explicite du service informatique compétent (SAR, DIT, SDIT) ; les logiciels ou matériels de partage de ressources ou de connexions réseau sont tout particulièrement proscrits ;</li>
    <li>De se conformer aux dispositifs mis en place par l’administration afin de lutter contre les virus et les attaques par programmes informatiques (prohibition totale ou partielle de connexion de supports amovibles sur les postes informatiques), et de ne pas altérer leur fonctionnement.</li>
  </ul>
</ul>

<h4>Section 3.2 - Obligations particulières d’utilisation de « Mon Suivi Justice » via des dispositifs nomades</h4>

<p>
  Outre les principes de sécurité généraux édictées en section 3.1, les utilisateurs de « Mon Suivi Justice » via des dispositifs nomades mis à disposition par l’administration (ordinateurs portables dotés d’un accès mobile « 3G » ou « 4G » et téléphones portables professionnels) sont soumis à des obligations renforcées visant à s’assurer de la confidentialité des accès au RPVJ et des informations contenues dans Mon Suivi Justice.
</p>

<p>
  Les chefs de juridiction et directeurs fonctionnels de SPIP désignent nommément, chacun pour les agents relevant de leur compétence, les magistrats, directeurs pénitentiaires d’insertion et de probation, et fonctionnaires des services judiciaires ou pénitentiaires accédant à l’application par ce dispositif, pour l’exécution de missions imposant d’assurer une continuité du service public de la justice hors de l’enceinte du tribunal ou du SPIP.
</p>

<p>
  Ils s’assurent, avec le directeur de greffe et les directeurs pénitentiaire d’insertion et de probation, de la création et de la tenue d’un registre consignant l’affectation des matériels. Ce registre devra comporter, outre l’identité du titulaire et la date d’attribution, l’identification précise du matériel informatique (marque, type, n° de série) et de la ligne téléphonique nomade (n° de la ligne 3G et n° IMEI du kit 3G).
</p>

<p>
  En aucun cas, les codes d’accès au RPVJ et à « Mon Suivi Justice » ne devront être stockés dans la mallette contenant l’ordinateur portable et la clé d’accès « 3G ».
</p>

<p>
  En toutes circonstances, l’accès à « Mon Suivi Justice » depuis des lieux pouvant compromettre la confidentialité des informations contenues dans l’application est prohibé (transports en commun, hôtels, lieux publics notamment).
</p>

<p>
  Dans ces lieux publics, le matériel confié ne devra pas être laissé sans surveillance, afin d’éviter le vol ou la compromission par un accès physique furtif (par exemple, brève introduction d’une clé USB malveillante).
</p>

<p>
  Enfin, pour limiter les risques de compromission, le matériel confié ne devra être utilisé que pour les besoins du service, toute autre utilisation étant proscrite (notamment l’installation de logiciels personnels et la consultation de sites Internet hors du RPVJ).
</p>

<h4>Section 3.3 - Devoirs de signalement et d'information</h4>

<p>
  L'utilisateur doit avertir sa hiérarchie dans les meilleurs délais de tout dysfonctionnement constaté ou de toute anomalie découverte telle une intrusion dans le système d’information.
</p>

<p>
  Il signale également à la personne responsable du site toute possibilité d'accès à une ressource qui ne corresponde pas à son habilitation.
</p>

<p>
  En cas de perte ou de vol du matériel informatique, il conviendra d’aviser sans délai :
</p>

<p>
  Par « système d’information Mon Suivi Justice » s’entend l’ensemble des moyens matériels, logiciels, applications, bases de données et réseaux de télécommunications (notamment le RPVJ, réseau privé virtuel Justice et le réseau interministériel de l’État), mis à disposition de l'utilisateur afin d’accéder aux différents outils développés par la start-up d’État « Mon Suivi Justice », ainsi que les outils eux-mêmes, dans l’ensemble de ses composantes.
</p>


<p>
  En local, le Département informatique et télécommunications (DIT) ou le RGI est saisi et doit créer un ticket d’incident ou le week-end, les DIT n’assurant pas d’astreinte, il convient de contacter le centre de sécurité numérique (CSN) dédié du ministère de la Justice au 01 70 22 88 36. Pour les vols de mobile, les équipes techniques (SNUM et DIT) doivent être informées si c’est un mobile HERMES ou TMSI car une procédure spécifique en cas de perte ou de vol s’applique. En cas de vol, le commissariat ou la gendarmerie les plus proches devront être avisés, en précisant les marques, type et numéro de série du matériel ainsi que les numéros de téléphone et numéro IMEI s'il s'agit d'un dispositif nomade « 3G/4G/5G ». Dans le même temps, le service administratif régional ou les services d'administration centrale (DAP, DSJ et SNUM/TOP) devront également être destinataires de ces informations.
</p>

<h4>Section 3.4 - Mesures de contrôle de la sécurité</h4>

<p>
  L'utilisateur est informé que des mesures de surveillance et de contrôle sont mises en place et déclarées à la CNIL dans le respect des dispositions de la loi informatique et libertés (art. 20 III) afin de prévenir tout accès illégitime ou abusif à des données provenant de l’application « Mon Suivi Justice ».
</p>

<p>
  Ces mesures consistent :
</p>

<ul>
  <li>À la mise en place d’une authentification lors de la connexion à l’application, avec un mot de passe individuel ;</li>
  <li>Au traçage des connexions et des transactions réalisées sur l’application, contenant les dates, heures, adresse du poste informatique (adresse « IP ») et l’identifiant de l’utilisateur ;</li>
  <li>À la surveillance automatisée de l’ensemble des traces d’utilisation.</li>
</ul>

<p>
  Les personnels ayant accès aux fichiers de trace sont soumis au secret professionnel. Ils ne peuvent donc divulguer les informations qu'ils sont amenés à connaître dans le cadre de leur fonction, sauf dans l’hypothèse d’une enquête administrative ou judiciaire, sur réquisition d’une autorité légitime.
</p>

<h4>Section 3.5 - Dispositions particulières applicables aux équipes d’assistance aux utilisateurs travaillant pour le compte de l’administration centrale du ministère de la Justice</h4>

<p>
  Pour instruire et résoudre les problèmes signalés par les utilisateurs, les équipes d’assistance (dont le support téléphonique) sont amenées à accéder directement à l’application « Mon Suivi Justice » et aux données concernées par ces problèmes, après information et accord de l’utilisateur concerné, en respectant la procédure définie pour le support.
</p>

<p>
  Ces équipes utilisent des accès spéciaux paramétrés pour chaque juridiction (ouverture des droits et attribution des services, rôles et habilitations).
</p>

<p>
  Aucune connexion à « Mon Suivi Justice » sur un compte « support », aucune consultation ni opération ne sont autorisées en dehors du traitement d’un problème signalé.
</p>

<h4>ARTICLE 4 : RESPECT DE LA LOI INFORMATIQUE ET LIBERTES</h4>

<p>
  La direction de l’administration pénitentiaire (DAP), responsable du traitement « Mon Suivi Justice », s’est engagée à respecter les dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée, dite « Informatique et Libertés ».
</p>

<p>
  À leur niveau, les utilisateurs doivent respecter les précautions d’usage fixées dans la présente charte afin de protéger les données à caractère personnel qui leur sont confiées.
</p>

<p>
  À savoir, la création sur son poste de travail d’une bibliothèque de documents ou de tout autre fichier contenant des données à caractère personnel extraites de « Mon Suivi Justice » ou résultant de croisement ou interconnexion d’autres fichiers, est interdite sans déclaration préalable à la CNIL.
</p>

<p>
  Un tel besoin doit être porté à la connaissance du responsable de traitement afin qu’il étudie les solutions qui peuvent, dans le respect des obligations « informatique et libertés », être proposées.
</p>

<h4>ARTICLE 5. NON RESPECT DE LA CHARTE</h4>

<p>
  En cas de non-respect des règles définies dans la présente charte et des modalités définies dans les guides d'utilisation, les chefs de juridiction et directeurs fonctionnels de SPIP pourront, sans préjuger des suites pouvant être engagées à l’encontre des personnels, limiter les usages par mesure conservatoire.
</p>

<p>
  Tout incident de sécurité devra être remonté sur la boite structurelle du magistrat et de la directrice pénitentiaire d’insertion et de probation en charge du développement des outils Mon Suivi Justice (contact@mon-suivi-justice.beta.gouv.fr).
</p>

<p>
  Tout abus dans l'utilisation des ressources mises à la disposition de l'utilisateur à des fins extra-professionnelles, est passible de sanctions disciplinaires et pénales.
</p>

<h4>ARTICLE 6 : ENTREE EN VIGUEUR DE LA CHARTE</h4>

<p>
  La présente charte entre immédiatement en vigueur.
</p>
