<h1 class='form-title'><%= t('new_organization_title') %></h1>

<%= simple_form_for @organization, html: { class: 'basic-form' } do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, t('submit'), class: 'form-submit-button' %>
<% end %>
