<%= render 'steering_header' %>

<div class='steering-container'>
  <%= render 'sda_data_card', data: @global, title: t('stats.steering_title') %>

  <% @local.each do |local| %>
    <%= render 'sda_data_card', data: local, title: local[:organization_name] %>
  <% end %>
</div>
