name: CI

on:
  push:
    branches: [develop, feature/divestment]
  pull_request:
    branches: [develop, feature/divestment]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: msj
          POSTGRES_PASSWORD: msj
          POSTGRES_DB: msj_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports: ["5432:5432"]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.2
          bundler-cache: true

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.0

      - name: Install Yarn
        run: npm install --global yarn@1.22.22

      - name: Install Ruby dependencies
        run: bundle install

      - name: Install JS dependencies
        run: yarn install

      - name: Setup test db
        run: bundle exec rails db:create db:schema:load db:migrate RAILS_ENV=test
        env:
          DATABASE_URL: localhost
          MSJ_DB_USER: msj
          MSJ_DB_PASSWORD: msj
          MSJ_DB_NAME: msj_test          

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Europe/Paris

      # - name: Start SSH session
      #   uses: luchihoratiu/debug-via-ssh@main
      #   with:
      #     NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      #     SSH_PASS: ${{ secrets.SSH_PASS }}

      - name: Precompile assets
        run: bundle exec rails assets:precompile

      - name: Spec suite
        run: bundle exec rspec
        env:
          DATABASE_URL: localhost
          MSJ_DB_USER: msj
          MSJ_DB_PASSWORD: msj
          MSJ_DB_NAME: msj_test
          APP: msj_ci
          DEV_EMAILS: "matthieu.faugere@beta.gouv.fr,damien.le-thiec@beta.gouv.fr,cyrille.corbin@justice.gouv.fr"

      - name: Upload screenshots
        if: always() # This ensures the step is run even if the previous step (tests) fail
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: ./screenshots/

      - name: Ruby linter
        run: bundle exec rubocop

      - name: Brakeman
        run: bundle exec brakeman --no-exit-on-warn --no-exit-on-error

      - name: Test seed file
        run: bundle exec rails db:seed RAILS_ENV=test
        env:
          DATABASE_URL: localhost
          MSJ_DB_USER: msj
          MSJ_DB_PASSWORD: msj
          MSJ_DB_NAME: msj_test
          DUMMY_PASSWORD: Dummy$123dummy
          DUMMY_ADMIN_PASSWORD: Dummy$123dummy

      # - name: Deploy staging
      #   run: bin/deploy-staging
