<% if !current_page?(home_path) %>
  <div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
      <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
      <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
          <li>
            <%= link_to home_path, class: "fr-breadcrumb__link" do %>
              <%= t('sidebar.home') %>
            <% end %>
          </li>
          <li>
            <a class="fr-breadcrumb__link" aria-current="page"><%= t("sidebar.#{request.path.tr('/', '')}") %></a>
          </li>
        </ol>
      </div>
    </nav>
  </div>
<% end %>
