<header class='header'>
  <h1 class='header-title'><%= t('header_title')%></h1>

  <div class='header-controls-container'>
    <%= link_to(t('my_profile'), user_path(current_user.id), class: 'header-link') %>
    <%= link_to(t('log_out'), destroy_user_session_path, method: :delete, class: 'header-link') %>
  </div>
</header>
