<div class='ie-warning-container'>
  <div class='ie-warning-content'>
    <div class='ie-warning-logo-container'>
      <%= image_tag 'logo_msj.svg' %>
    </div>

    <div class='ie-warning-text'>
      <%= t('ie_warning1') %>
    </div>
    <div class='ie-warning-text'>
      <%= t('ie_warning2') %>
    </div>
  </div>
</div>
