<section class="sidebar">
  <div class="sidebar-item">
    <%= link_to t('sidebar.convicts'), convicts_path %>
  </div>
  <div class="sidebar-item">
    <%= link_to t('sidebar.appointments'), appointments_path %>
  </div>
  <div class="sidebar-item">
    <%= link_to t('sidebar.places'), places_path %>
  </div>
  <div class="sidebar-item">
    <%= link_to t('sidebar.users'), users_path %>
  </div>
</section>
