<section class="sidebar">
  <div class="sidebar-item">
    <%= link_to t('activerecord.models.convict'), convicts_path %>
  </div>
  <div class="sidebar-item">
    <%= link_to t('activerecord.models.user'), users_path %>
  </div>
</section>
