<% content_for :content do %>
  <% flash.each do |type, msg| %>
    <% next unless msg.is_a? String %>
    <p class=<%= type %>><%= msg %></p>
  <% end %>

  <section class="authentication-form-container">
    <%= yield %>
  </section>
<% end %>

<%= render template: "layouts/application" %>
